table#file-list td {
    padding: 5px;
    vertical-align: middle;
}
table#file-list td.icon {
    width: 45px;
}
table#file-list td.name {
    width: 60%;
}
.breadcrumb {
    font-size: 1.5em;
    background-color: transparent;
}
div#actions {
    float: right;
    padding-top: 4px;
}
table#file-list tr#new-folder input {
    margin-bottom: 0;
}
a {
    /*
     * <a href=""> elements show the cursor as a pointer by default, but
     * <a ng-click=""> elements do not
     */
    cursor: pointer;
}
img.action {
    cursor: pointer;
}
