table#file-list td {
    padding: 5px;
    vertical-align: middle;
}
table#file-list td.icon {
    width: 45px;
}
table#file-list td.name {
    width: 60%;
}
table#file-list td.actions {
    white-space: nowrap;
    min-width: 130px;  /* must fit all action icons */
}
.breadcrumb {
    font-size: 1.5em;
    background-color: transparent;
}
.breadcrumb li {
    padding-bottom: 6px;
}
div#actions {
    float: right;
}
table#file-list tr#new-folder input {
    margin-bottom: 0;
}
a {
    /*
     * <a href=""> elements show the cursor as a pointer by default, but
     * <a ng-click=""> elements do not
     */
    cursor: pointer;
}

.waiting, .waiting * {
    cursor: wait;
}
