<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <!-- config parameters -->

  <context-param>
    <param-name>labeling_class</param-name>
    <param-value>com.aerofs.l.AA</param-value>
  </context-param>
  <context-param>
    <param-name>ca_url</param-name>
    <param-value>http://joan.aerofs.com:1029/prod/</param-value>
  </context-param>
  <context-param>
    <param-name>mysql_endpoint</param-name>
    <param-value>sp.mysql.aws.aerofs.com</param-value>
  </context-param>
  <context-param>
    <param-name>mysql_user</param-name>
    <param-value>aerofs_spsv</param-value>
  </context-param>
  <context-param>
    <param-name>mysql_password</param-name>
    <param-value>[MYSQL_PASSWORD]</param-value>
  </context-param>
  <context-param>
    <param-name>mysql_sp_schema</param-name>
    <param-value>aerofs_sp</param-value>
  </context-param>
  <context-param>
    <param-name>verkehr_host</param-name>
    <param-value>verkehr.aerofs.com</param-value>
  </context-param>
  <context-param>
    <param-name>verkehr_publish_port</param-name>
    <param-value>9293</param-value>
  </context-param>
  <context-param>
    <param-name>verkehr_command_port</param-name>
    <param-value>25234</param-value>
  </context-param>
  <context-param>
    <param-name>verkehr_cacert</param-name>
    <param-value>cacert.pem</param-value>
  </context-param>

  <!-- initialization listener -->

  <listener>
    <listener-class>com.aerofs.sp.server.sp.SPLifecycleListener</listener-class>
  </listener>

  <!-- servlets -->

  <servlet>
    <servlet-name>ServletSP</servlet-name>
    <servlet-class>com.aerofs.sp.server.sp.SPServlet</servlet-class>
  </servlet>

  <!-- url mapping -->

  <servlet-mapping>
    <servlet-name>ServletSP</servlet-name>
    <url-pattern>/sp</url-pattern>
  </servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
