<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) Air Computing Inc., 2014.
  -->

<web-app metadata-complete="true">
  <absolute-ordering />

  <!-- Initialization listener -->
  <listener>
    <listener-class>com.aerofs.sp.server.listeners.LogCollectionLifecycleListener</listener-class>
  </listener>

  <!-- Servlets -->
  <servlet>
    <servlet-name>ServletGetUsers</servlet-name>
    <servlet-class>com.aerofs.sp.server.GetUsersServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ServletCollectLogs</servlet-name>
    <servlet-class>com.aerofs.sp.server.CollectLogsServlet</servlet-class>
  </servlet>

    <!-- URL mapping -->
  <servlet-mapping>
    <servlet-name>ServletGetUsers</servlet-name>
    <url-pattern>/users</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ServletCollectLogs</servlet-name>
    <url-pattern>/collect_logs</url-pattern>
  </servlet-mapping>
</web-app>
