<div id="layer"></div>
<div id="popup">
  <div id="popup-container">
    {% if number_search_results > 0 %}
      <hgroup>
        <h2>We have not posted your email yet</h2>
        <h4>Perhaps one of these articles will help you get your answer...</h4>
        <p>(Clicking these links will open a new window)</p>
      </hgroup>
      <section>
        {% for result in search_results limit:3 %}
          <section class="theme-bkg">
            <h2 class="{% if result.class_name == "Question" %} ask-question {% else %} file {% endif %}"><a href="{{ result.public_url }}" target='_blank'>{{ result.subject_plain | clip:70 }}</a></h2>
            <p> {{ result.body_plain | clip:105 }}</p>
          </section>
        {% endfor %}
        <footer>
          {{form_begin}}
            These Didn’t Help?<input class='button-small' id='email_submit' name='commit' type='submit' value='Send Your Email' />
                    <img alt='Ajax-loader-small' id='email_submit_spinner' src='{{ "/images/ajax-loader-small.gif" | portal_image_url: image_asset_host }}' style='display: none; margin: 7px 0 0 5px; position: absolute;' />
          {{form_end}}
          <script type='text/javascript'>
                  //<![CDATA[
                  jQuery(document).ready(function() {
                    $('#email_submit').click(function() {
                      $(this).addClass('disabled');
                    })
                  });
                  {% if number_search_results == 0 %}
                    jQuery('#new_email').submit();
                  {% endif %}
                  highlightSearchTerms('{{ search_term }}');
                  //]]>
                </script>
        </footer>
      </section>
    {% else %}
      <h2>Please wait while your email is submitted...</h2>
    {% endif %}
  </div>
</div>
<nav id="main-nav"><a href="{{home_link}}">Home</a> ›Email Us</nav>
<div id="main" class="blog">
  <section>
    <h2 class="contact">Email Us</h2>
    <section class="theme-bkg">
      {{form_begin}}
        <ul class="form">
          {% if current_user.is_guest %}
          <li>
            <label>Your name (required)
              <input id='interaction_name' value='{{ interaction.name }}' maxlength='100' name='interaction[name]' type='text' />
            </label>
          </li>
          <li>
            <label>Your email address (required)
              <input id='interaction_email' value='{{ interaction.email }}' maxlength='100' name='interaction[email]' type='text' />
            </label>
          </li>
          {% endif %}
          <li>
            <label>Subject (required)
             <input id='email_subject' maxlength='100' name='email[subject]' type='text' value='{% if search_term and search_term != '' %}{{search_term}}{% else %}{{email.subject}}{%endif%}'/>
            </label>
          </li>
          <li>
            <label>What is your question? (required)
              <textarea id='email_body' name='email[body]'>{{email.body}}</textarea>
            </label>
          </li>
          <li>
            <label>File Attachment
              <input name="ticket_attachment[attachment]" size="84" type="file"/>
            </label>
          <li>
            <input class="button-sm" id='email_submit' name='commit' type='submit' value='Send Email' />
                  <img alt='Ajax-loader-small' id='email_submit_spinner' src='{{ "/images/ajax-loader-small.gif" | portal_image_url: image_asset_host }}' style='display: none; margin: 7px 0 0 5px; position: absolute;' />
          </li>
        </ul>
      {{form_end}}
      <script type='text/javascript'>
            //<![CDATA[
            $('#email_body').textarea_maxlength();
            $('#new_email').validate({
              submitHandler: function(form) {
                $('#email_submit').attr('disabled',true);
                $('#email_submit').addClass('disabled');
                $('#email_submit_spinner').show();
                form.submit();
              },
              messages:{
                'interaction[name]':{
                  'required':'Name is required.'
                },
                'interaction[email]':{
                  'required':'Email address is required.',
                  'email':'Invalid email address'
                },
                'email[subject]':{
                  'required':'Subject is required.'
                },
                'email[body]':{
                  'required':'Message is required.',
                  'maxlength':'Exceeding max length of 5KB'
                }
              },
              rules:{
                'interaction[name]':{
                  'required':true
                },
                'interaction[email]':{
                  'required':true,
                  'email':true
                },
                'email[subject]':{
                  'required':true,
                  'invalidchars':''
                },
                'email[body]':{
                  'required':true,
                  'maxlength':5000,
                  'invalidchars':''
                }
              },
              errorClass:'invalid'
            });
            //]]>
          </script>
    </section>
  </section>
</div>
