{% if enable_gs %}
<script type="text/javascript">
// GetSatisfaction Settings
var gscompanyname='{{gscompanyname}}';
var gsurl='{{gsurl}}';
var gscompanyid=null;
</script>
{% endif %}

<link rel='SHORTCUT ICON' type='image/ico' href='http://www.aerofs.com/favicon.ico' />

<title>
  {{ site.company_name }} |
  {% if page == 'page_index' %}
    Portal
  {% elsif page == 'page_search_result' %}
    Search Results
  {% elsif page == 'page_topic' %}
    {{ topic.name | clip:40 }}
  {% elsif page == 'page_article' %}
    {{ article.subject_plain | clip:40 }}
  {% elsif page == 'question_new' or page == 'question_pre_create' %}
    Post a Question
  {% elsif page == 'question_show' %}
    {{ question.subject_plain | clip:40 }}
  {% elsif page == 'email_new' or page == 'email_pre_create' %}
    Email Us
  {% elsif page == 'email_submitted' %}
    Email Sent
  {% elsif page == 'chat_new' or page == 'chat_pre_create' %}
    Live Chat!
  {% endif %}
</title>

{% if page == 'page_topic' %}ˇ
  {% if site.questions_enabled_config and topic.question_count > 0 and topic.allow_questions %}
    <link rel='alternate' type='application/rss+xml' title='{{ topic.name | clip:40 }} - Questions (RSS 2.0)' href='{{ topic.public_url }}/questions.rss' />
  {% endif %}
  {% if topic.article_count > 0 %}
    <link rel='alternate' type='application/rss+xml' title='{{ topic.name | clip:40 }} - Articles (RSS 2.0)' href='{{ topic.public_url }}/articles.rss' />
  {% endif %}
{% endif %}

<link rel="stylesheet" href="http://50.19.222.119/css/style.css">
<script src="http://50.19.222.119/js/modernizr.js"></script>
<script type='text/javascript'>

  //<![CDATA[
  jQuery(document).ready(function() {

    {% if twitter_enabled %}
    jQuery('#tweets').tweet({
      join_text: 'auto',
      auto_join_text_default: '',
      auto_join_text_reply: '',
      username: '{{ twitter_username }}',
      avatar_size: 24,
      count: 3,
      loading_text: 'Loading...'
    });
    {% endif %}

    var autocomplete_source = '{{ site.search_autocomplete_articles_url }}'
    if ($('form').hasClass('support-search-small')) {
      autocomplete_source += '?size=small&';
    } else {
      autocomplete_source += '?';
    }

      $("#q").autocomplete({
      delay: 200,
      minLength: 2,
      search: function(event, ui) {
        $("#q").autocomplete("option", "source", autocomplete_source + 'rand=' + Math.round(Math.random() * 100000000000).toString());
      },
      select: function(event, ui) {
        $(location).attr('href', ui.item.id);
      }
    });

    $('#q').focus(function() {
      $('#question-mask').hide();
    });

    $('#q').blur(function() {
      if ($(this).val().length == 0) {
        $('#question-mask').show();
      }
    });

    $('#question-mask').click(function() {
      $('#q').focus();
    });

    $('form').submit(function() {
        $('input[type=text]').each(function() {
        $(this).val($.trim($(this).val()))
      });
    });

    // Extra validator added to handle invalid characters
    $.validator.addMethod('invalidchars', function(value, element, param) {
      return this.optional(element) || ! new RegExp('['+param+']').test(value);
    }, "Invalid characters found");
  });

  function highlightSearchTerms(search_terms) {
    $.each(search_terms.split(' '), function(index, value) {
      $('.content a, .content p').highlight($.trim(value), '<span class=\"highlight\">$1</span>');
    $('#search-results a, #search-results p').highlight($.trim(value), '<span class=\"highlight\">$1</span>');
    });
  }
  //]]>
</script>

{% if enable_gs %}
<script type="text/javascript">
gsStringTable['generic_error'] = "There was an error contacting Get Satisfaction";
gsStringTable['view_all'] = "VIEW ALL";
gsStringTable['search_header_no_results'] = "No Related Community Discussions";
gsStringTable['search_header_with_results'] = "Related Community Discussions - {0} discussions";
gsStringTable['generic_results_subheader'] = "{0} discussions";
gsStringTable['generic_replies'] = "{0} replies";
gsStringTable['questions_header'] = "Questions";
gsStringTable['ideas_header'] = "Ideas";
gsStringTable['problems_header'] = "Problems";
gsStringTable['praises_header'] = "Praise";
getCompanyId(); //Get Satisfaction Company ID
</script>
{% endif %}
