<div id="container" class="help-section">
  <div id="header">
    <div class="content">
      <a href="http://www.aerofs.com"><img id="logo" src="http://50.19.222.119/img/logo_small.png" alt=""></a>
    </div>
  </div>
  <div id="help">
    <div id="need-help" class="content">
      <div>
        <form>
          <input type="text" id='q' name ='q' maxlength='100' placeholder="Need Help? Type your question here!">
          <button class="button" type='submit' id='support-search-submit'>Search</button>
        </form>
        <script type='text/javascript'>
        //<![CDATA[
        jQuery(document).ready(function() {
          // Default Focus
          $( "#q" ).bind("autocompleteopen", function(event, ui) {
            $('.ui-autocomplete').css({'margin':'0 0 0 -5px', 'width':'845px'});
          });
        });
        //]]>
        </script>
      </div>
    </div>
  </div>
  <div id="content">
    <div class="content">
      {{desk:body}}
      <aside id="rightnav">
        <section>
          <h2 class="contact">Contact Us</h2>
          <ul>
             {% if site.questions_enabled_config %}
                    <li>
                      <a href='{{qna_link}}'>Post a Question</a>
                    </li>
                  {% endif %}

            <!-- GS -->
                  {% if enable_gs %}
                  <li>
                    <a id='gs_link' target='_blank'>Ask the Community</a>
                    <script type="text/javascript">
                      var params = ( "{{search_term}}".length > 0 ) ? "&topic[query]=" + escape("{{search_term}}") : ""
                      $('#gs_link').attr('href', gsurl + "/topics/new?from=company&product=&commit=Nope.+Finish+posting+my+question" + params);
                    </script>
                  </li>
                  {% endif %}
                  <!-- GS -->
              {% if site.email_enabled_config %}
                    <li>
                      <a href='{{email_link}}'>Email Us</a>
                    </li>
                  {% endif %}
                  {% if site.chat_enabled_config %}
                    <li>
                      <a href='{{chat_link}}'>Live Chat!</a>
                    </li>
                  {% endif %}
                  {% if site.phone_enabled_config %}
                    <li>
                      {{ contact_us_content }}
                    </li>
                  {% endif %}
          </ul>
        </section>

         <!-- GS NEEDS TO BE FIXED FOR AEROFS THEME!!!-->
            {% if gs_sidebar %}
            <div class='content'>
              <h3>Recent Discussions</h3>
              <div id='gs_Sidebar_Results'>
                <img alt='Ajax-loader-small' id='question_submit_spinner' src='{{ "/images/ajax-loader-small.gif" | portal_image_url: image_asset_host }}' style='display:block;margin:auto;' />
              </div>
              <script>RecentGSActivity();</script>
            </div>
            {% endif %}
            <!-- GS -->
        <section id="tweets">
           {% if twitter_enabled == true %}
                <h2 class="twitter">Follow Our Tweets</h3>
                <div id='tweets'></div>
             {% endif %}
        </section>
      </aside>
    </div>
    <footer id="footer">
      <div class="content">
         <ul>
            <li><a href="http://www.aerofs.com/features">Features</a></li>
            <li><a href="http://www.aerofs.com/about">About</a></li>
            <li><a href="http://blog.aerofs.com">Blog</a></li>
            <li><a href="http://vote.aerofs.com">Vote for Features</a></li>
            <li><a href="http://support.aerofs.com">Support</a></li>
            <li><a href="http://www.aerofs.com/privacy">Privacy Policy</a></li>
            <li><a href="http://www.aerofs.com/tos">Terms of Service</a></li>
          </ul>
        <span id="cr">
          Copyrights © Air Computing Inc. 2011
          <br/><a href='http://www.assistly.com'>Customer service software</a> powered by Assistly Inc.
        </span>

      </div>
    </footer>
