<h2> Browse By Topic </h2>
<div id="main" class="blog">
{% if topics_count > 0 %}
  <table width='100%' cellspacing='0' class="table-bkg">
    {% tablerow topic in topics cols: 2 %}
      <section class="theme-bkg" height='100%'>
        <h2 class="question">&nbsp;&nbsp;{{ topic.name }}</h2>
        {% if topic.article_count > 0 %}
          <h5>{{ 'Article' | pluralize: topic.article_count }} <span>({{ topic.article_count }})</span>&nbsp;&nbsp;  <a class="view-all" href="{{ topic.public_articles_url }}">view all</a></h5>
          <ul>
            {% for article in topic.articles limit:5 %}
                 <li>
                          <a href='{{ article.public_url }}'>• {{ article.subject_plain | clip:34 }}</a>
                        </li>
             {% endfor %}
          </ul>
        {% endif %}
        {% if site.questions_enabled_config %}
          {% if topic.question_count > 0 and topic.allow_questions %}
            <h5>Recent Q&amp;A&nbsp;&nbsp;<a class="view-all" href="{{ topic.public_questions_url }}">view all</a></h5>
            <ul>
              {% for question in topic.questions limit:5 %}
                   <li>
                            <a href='{{ question.public_url }}'>• {{ question.subject_plain | clip:34 }}</a>
                          </li>
               {% endfor %}
            </ul>
          {% endif %}
        {% endif %}
      </section>
    {% endtablerow %}
  </table>
{% else %}
  <h2>No topics are available</h2>
{% endif %}
</div>
