<nav id="main-nav"><a href="{{home_link}}">Home</a> › <a href="{{ topic.public_articles_url }}">{{ topic.name | clip:30 }}</a> › {{ article.subject_plain | clip:30 }}</nav>
<div id="main" class="blog">
  <section>
    <h2 class="question">{{ topic.name | clip:30 }}</h2>
    <section class="theme-bkg">
      <h2 class="file">{{ article.subject_plain }}</h2>
      <span class="info">>Last Updated: {{ article.updated_at | in_time_zone: site.timezone | date: '%b %d, %Y %I:%M%p %Z' }}</span>
      <br/>
      {{ article.body }}
      {% if article.number_of_attachments > 0 %}
        <strong>Attachments</strong>
        <ul>
                {% for attachment in article.kb_article_attachments %}
                  <li>
                    <a href="{{ attachment.faq_download_url }}" class="kb_article_attachment_a" target="_blank">{{ attachment.name }}</a>
                  </li>
                {% endfor %}
          </ul>
      {% endif %}
    </section>
    <br/>
        {% if rate_article == true %}
          {{ rate_block }}
        {% endif %}
  </section>
</div>
