{% assign customer_answer_count = question.answers_customer_count %}
{% assign agent_answer_count = question.answers_agent_count %}

<nav id="main-nav"><a href="{{home_link}}">Home</a> › <a href="{{ question.topic.public_questions_url }}">{{ question.topic.name  | clip:30 }}</a> ›{{ question.subject | clip:30 }}</nav>
<div id="main" class="blog">
  <section class="asked">
    <h2>{{ question.subject }}</h2>
    <span class="avatar"> {{ question.from_email | gravatar_image: gravatar_unknown_user, ssl }}</span>
    <p class="info"> {{ question.from_name }} | {{ question.created_at | in_time_zone: site.timezone | date: '%b %d, %Y %I:%M%p %Z' }}</p>
    <p>{{ question.body }}</p>
  </section>

  <section id="community-answers" class="answered">
  <br/>
    <h5>
      {% if agent_answer_count > 0 and customer_answer_count > 0 %}
        {{ agent_answer_count }} {{ site.company_name }} {{ 'Response' | pluralize: agent_answer_count }} and {{customer_answer_count}} Community {{ 'Response' | pluralize: agent_answer_count }}
      {% elsif agent_answer_count > 0 %}
        {{ agent_answer_count }} {{ site.company_name }} {{ 'Response' | pluralize: agent_answer_count }}
      {% elsif customer_answer_count > 0 %}
        {{customer_answer_count}} Community {{ 'Response' | pluralize: agent_answer_count }}
      {% else %}
      No answers are available yet, you could write the first one!
      {% endif %}
    </h5>

    {% for answer in question.answers %}
        <section>
          <p><strong>{{ answer.from_name }}</strong></p>
          <span class="avatar">
            {{ answer.from_email | gravatar_image: gravatar_unknown_user,   ssl }}
          </span>
          {% if current_user == answer.user %}
                  <div class='answer-rating rating-true'>
                      <div>
                          <span class='score {% if answer.rating_value > 0 %}score-positive{% elsif answer.rating_value < 0 %}score-negative{% endif %}' id='score-{{answer.id}}'>{{ answer.rating_value }}</span>
                          <span class='dialog'>Score</span>
                      </div>
                    </div>
                {% else %}
                  <div class='answer-rating rating-{{ answer | already_rated_by_user: current_user }}'>
                      <div>
                          {{ answer | already_rated_up: current_user }}
                          <span class='score {% if answer.rating_value > 0 %}score-positive{% elsif answer.rating_value < 0 %}score-negative{% endif %}' id='score-{{answer.id}}'>{{ answer.rating_value }}</span>
                          <span class='dialog'>Rated</span>
                          {{ answer | already_rated_down: current_user }}
                        </div>
                  </div>
                {% endif %}
          <p class="info">
            {{ answer.updated_at | in_time_zone: site.timezone | date: '%b %d, %Y %I:%M%p %Z' }}
          </p>
          <p>{{ answer.body }}</p>
        </section>
      {% endfor %}
  </section>

  {% if question.allow_answers ? != true or question.case.closed? %}
    <p>This question is closed to new answers.</p>
  {% else %}
  <section>
    <h2 class="ask">Post Your Answer</h2>
    <section class="theme-bkg">
      {{ form_begin }}
        <ul class="form">
        {% if current_user.is_guest %}
          <li>
            <label>Your name (required)
               <input id='interaction_name' maxlength='100' name='interaction[name]' value='{{ interaction.name }}' type='text' />
            </label>
          </li>
          <li>
            <label>Your email address (required)
              <input id='interaction_email' value='{{ interaction.name }}' maxlength='100' name='interaction[email]' size='100' type='text' />
            </label>
          </li>
        {% endif %}
          <li>
            <label>Answer (required)
               <textarea cols='40' id='qna_body' name='qna[body]' rows='20'>{{ qna.body }}</textarea>
            </label>
          </li>
          <li>
            <input class="button-sm" id='answer_submit' name='commit' type='submit' value='Post Answer' />
          </li>
        </ul>
      {{ form_end }}

       <script type='text/javascript'>
              //<![CDATA[
              $('#qna_body').textarea_maxlength();
              $('#new_answer').validate({
                submitHandler: function(form) {
                  $('#answer_submit').attr('disabled',true);
                  $('#answer_submit').addClass('disabled');
                  form.submit();
                },
                messages:{
                  'interaction[name]':{
                    'required':'Name is required.'
                  },
                  'interaction[email]':{
                    'required':'Email address is required.',
                    'email':'Invalid email address'
                  },
                  'qna[body]':{
                    'required':'Answer is required.',
                    'maxlength':'Exceeding max length of 5KB'
                  }
                },
                rules:{
                  'interaction[name]':{
                    'required':true
                  },
                  'interaction[email]':{
                    'required':true,
                    'email':true
                  },
                  'qna[body]':{
                    'required':true,
                    'maxlength':5000
                  }
                },
                errorClass:'invalid'
              });
              //]]>
            </script>
    </section>
  </section>
  {% endif %}
</div>
