//
// AeroFS customization for Bootstrap's variables.less.
//
// N.B. never modify bootstrap/variables.less (or anything copied from the
// Bootstrap library). Use this file to override variables.
//

@blue:                  #71c9f1;

@bodyBackground:        @base2;

// Typography
// -------------------------
@sansFontFamily:        'Open Sans', sans-serif;
@baseFontSize:          11pt;
@baseLineHeight:        @baseFontSize * 1.5;
@headingsFontWeight:    300;
@headingsColor:         @base02;

// Buttons
// -------------------------
// Note: we use aerofs.less to override buttons' foreground colors

@btnBackground:                     @base01;
@btnBackgroundHighlight:            spin(@btnBackground, 15%);
@btnBorder:                         @btnBackground;

// AeroFS specific variables
// -------------------------

// Base colors
// We use a naming scheme similar to Solarized (http://ethanschoonover.com/solarized)
// The 0 prefix indicates a dark color, and the larger the number, the darker (or the lighter if no 0)
@base2:                 #e7eef3;
@base1:                 #add5ea;
@base01:                #0d7bb3;
@base02:                #156290;

@successMessageColor:   lighten(saturate(@green, 30%), 35%);
@errorMessageColor:     lighten(@red, 50%);

@aerofsIconSpritePath:    "../img/aerofs-icons.png";
