# When changing this file, update requirements-exact.txt as well:
# virtualenv env
# env/bin/pip install -r requirements.txt
# env/bin/pip freeze | sort -f > requirements-exact.txt
# rm -rf env
# Our explicit dependencies:

# Backports is required by boto3 and docker-py. Sadly, depending on your
# version of pip, it may or may not be installed. Require it explicitly for
# good measure.
backports.ssl-match-hostname
CherryPy
Flask
Flask-Login
Flask-KVSession
Flask-SQLAlchemy
Flask-Scrypt
Flask-WTF
SQLAlchemy
WTForms
analytics-python
itsdangerous
oursql
redis
requests
scrypt
sqlalchemy-migrate
stripe
docker-py
boto3
# Hoisted dependencies from licensing:
pygpgme
