# When changing this file, update requirements-exact.txt as well:
# virtualenv env
# env/bin/pip install -r requirements.txt
# env/bin/pip freeze > requirements-exact.txt
# rm -rf env
# Our explicit dependencies:
CherryPy
Flask
Flask-Login
Flask-SQLAlchemy
Flask-Scrypt
Flask-WTF
SQLAlchemy
WTForms
analytics-python
itsdangerous
oursql
requests
scrypt
sqlalchemy-migrate
stripe
# Hoisted dependencies from licensing:
pygpgme
