<!--
  ~ Copyright (c) Air Computing Inc., 2013.
  -->

<configuration scan="true">

    <!--
        standard logging config
    -->

    <appender name="logfile" class="ch.qos.logback.core.FileAppender">
        <file>/var/log/cmd-server/bootup.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-5level [%date{ISO8601, UTC}] [%-8.8thread] %c{0}: %m%n%xEx</pattern>
        </encoder>
    </appender>

    <appender name="async" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>1000000</queueSize>
        <appender-ref ref="logfile"/>
    </appender>

    <!--
        root configuration:

        IMPORTANT: always keep this as the last stanza
    -->

    <root level="INFO">
        <appender-ref ref="async"/>
    </root>

</configuration>
