<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <appender name="LOGFILE" class="ch.qos.logback.core.FileAppender">
        <File>/var/log/aerofs/xray.log</File>
        <Append>true</Append>
        <encoder>
            <pattern>%-5level [%date{ISO8601, UTC}] [%-8.8thread] %c{0}: %m%n%xEx</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="LOGFILE" />
    </appender>

    <logger name="com.aerofs.xray.server.XRay" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="ASYNC"/>
    </root>
</configuration>
