<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) Air Computing Inc., 2013.
  -->

<configuration scan="true">
    <appender name="LOGFILE" class="ch.qos.logback.core.FileAppender">
        <File>/var/log/bifrost/bifrost.log</File>
        <Append>true</Append>
        <encoder>
            <pattern>%-5level [%date{ISO8601, UTC}] [%-8.8thread] %c{0}: %m%n%xEx</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="LOGFILE" />
    </appender>

    <root level="INFO">
        <appender-ref ref="ASYNC"/>
    </root>
</configuration>
