approot
env
out.md
out.ant
out.gradle
out.shell
out.idea
out.shell
out.ship
workspace.xml
dump.rdb
syncdet_test/.idea/
.idea
!idea/aerofs/.idea/libraries
.DS_Store
.metadata
.gradle
src/web/web/static/js/compiled/*
src/web/web/static/css/compiled/*
*.pyc
*.iml
src/web/web/static/js/compiled/
src/web/web/static/css/compiled/
src/web/web/static/installers
web/styles/css/compiled/
web/js/recruiting.js
docs/user-docs/api/css/compiled/
src/**/src_*.iml
buildroot
