<div class="col-sm-12">
    <div class="object row">
        <div class='col-xs-8'>
          <div class="icon">
            <img ng-if="object.type == 'folder' && !object.is_shared" src="/static/shelob/img/icons/40x40/filetype_folder.png">
            <img ng-if="object.type == 'folder' && object.is_shared" src="/static/shelob/img/icons/40x40/filetype_shared_folder.png">
            <div ng-if="object.type == 'file'" aero-icon data-mime-type={{object.mime_type}}></div>
          </div>
          <div class="name">
            <a ng-if="object.type === 'folder'" ng-hide="object.edit" ng-href="#/{{deref_anchor(object)}}">{{object.name}}</a>
            <a ng-if="object.type === 'file' && object.size > 0" ng-hide="object.edit" ng-click="download(object.id)">{{object.name}}</a>
            <span ng-if="object.type === 'file' && (object.size === undefined || object.size === null || object.size === 0 || object.size === -1)">{{object.name}}</span>
            <input aero-in-place-edit
                   ng-show="object.edit"
                   type="text"
                   ng-model="object.newName"
                   focus-on="object.edit"
                   on-submit="submitRename(object)"
                   on-cancel="cancelRename(object)"
                   ng-disabled="outstandingRequests > 0"/>
          </div>
        </div>
        <div class="col-xs-4 size">
          {{object.size|humanBytes}}
        </div>
    </div>
</div>
