<ol class="breadcrumb">
    <li ng-if="!breadcrumbs.length" class="active">My Files</li>
    <li ng-if="breadcrumbs.length"><a href="#/">My Files</a></li>

    <li ng-repeat="folder in breadcrumbs.slice(0,-1)">
      <span class="divider">&rsaquo;</span>
      <a href="#/{{folder.id}}">{{folder.name}}</a>
    </li>

    <li ng-repeat="folder in breadcrumbs.slice(-1)" class="active">
      <span class="divider">&rsaquo;</span>
      {{folder.name}}
    </li>
</ol>

<table ng-show="folders.length || files.length" class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Last Modified</th>
    </tr>
  </thead>
  <tbody>
      <tr ng-repeat="folder in folders | orderBy:'name'" ng-init="folders=[]" class="folder">
        <td><img src="/static/shelob/img/icons/40x40/filetype_folder.png"></td>
        <td><a href="#/{{folder.id}}">{{folder.name}}</a></td>
        <td>--</td>
      </tr>
      <tr ng-repeat="file in files | orderBy:'name'" ng-init="files=[]" class="file">
        <td><div aero-icon data-mime-type={{file.mime_type}}></div></td>
        <!--
        The ng-click directive is what's executed; the href is only provided as
        a no-op so that the link has the proper styling.
        -->
        <td><a ng-click="download(file.id)" href="javascript:;">{{file.name}}</a></td>
        <td>{{file.last_modified}}</td>
      </tr>
  </tbody>
</table>
