<div class="modal-header">
  <h4 class="modal-title">Link Password</h4>
</div>
<div class="modal-body">
  <div class="password">
    <form class="form-inline" role="form" method="post">
      <div class="form-group">
        <span class="control-label">Password: </span>
        <input class="form-control"
              type="text"
              ng-model="link.password"
              placeholder="None"
              size="8"/>
      </div>
    </form>
    <button ng-show="link.password" ng-click="removePassword()" type="button" class="close" aria-hidden="true">&times;</button>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="cancel()" data-dismiss="modal">Close</button>
  <button type="button" class="btn btn-primary" ng-click="ok()">Save</button>
</div>