<div class="modal-header">
    <button type="button" class="close" ng-click="external_cancel()">×</button>
    <h4>Adding External Users</h4>
</div>
<div class="modal-body">
    You are about to share this folder with an external user. Are you sure you want to proceed?
</div>
<div class="modal-footer">
    <div class="pull-right">
        <button class="btn btn-default" ng-click="external_cancel()">Cancel</button>
        <button class="btn btn-danger" ng-click="external_ok()">Invite Anyway</button>
    </div>
</div>