<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">×</button>
    <h4>Deleting Folder</h4>
</div>
<div class="modal-body">
    Are you sure you want to delete "{{folder.name}}"? This will <strong>delete the folder and all its contents</strong> for you and for <strong>everyone</strong> that the folder is shared with.
</div>
<div class="modal-footer">
    <div class="pull-right">
        <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-danger" ng-click="ok()">Delete folder</button>
    </div>
</div>