<style type="text/css">
    .pagination a {
        cursor: pointer;
    }
</style>
<div class="pagination pull-right" ng-show="pages && pages.length > 1">
    <a ng-hide="getCurrentPage() === 1" ng-click="showPage(getCurrentPage()-1)">&laquo;</a>
    <span ng-show="getCurrentPage() === 1">&laquo;</span>
    <span ng-repeat="number in pages">
        <a ng-click="showPage(number)" ng-hide="getCurrentPage() === number">{{number}}</a>
        <span ng-show="getCurrentPage() === number">{{number}}</span>
    </span>
    <a ng-hide="getCurrentPage() === pages.length" ng-click="showPage(getCurrentPage()+1)">&raquo;</a>
    <span ng-show="getCurrentPage() === pages.length">&raquo;</span>
</div>