.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.navbar .nav > li > a {
  font-size: 120%;
  font-weight: bold;
}
h3 {
  font-weight: 600;
}
div.org_input_block {
  margin-top: 30px;
}
span.required_field {
  color: #9d261d;
}
div.input_container {
  margin-top: 10px;
}
div.input_container label input {
  display: inline;
}
div.input_container input {
  margin: 0 auto;
}
div.input_container a.btn {
  margin: 0 auto;
}
div.input_container.submit {
  margin-top: 25px;
}
.nav-list > .active > a,
.nav-list > .active > a:hover {
  background: transparent;
  text-shadow: none;
  font-weight: bolder;
  color: #005580;
}
.page_block {
  margin-bottom: 30px;
}
.btn,
.btn:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn {
  line-height: 15.399999999999999pt;
}
.full_name {
  font-weight: bold;
}
.table th {
  font-weight: inherit;
}
.datatable_body {
  margin-bottom: 15px;
}
.dataTables_info {
  display: inline;
  float: right;
  margin-right: 10px;
}
[class^="icon-"],
[class*=" icon-"] {
  vertical-align: -2px;
}
[class^="aerofs-icon-"],
[class*=" aerofs-icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/aerofs-icons.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
  vertical-align: -2px;
}
[class^="aerofs-icon-"]:last-child,
[class*=" aerofs-icon-"]:last-child {
  *margin-left: 0;
}
.aerofs-icon-osx {
  background-position: 0      0;
}
.aerofs-icon-windows {
  background-position: -24px 0;
}
.aerofs-icon-linux {
  background-position: -48px 0;
}
.aerofs-icon-android {
  background-position: -72px 0;
}
a.btn,
button.btn {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
#empty_message_bar {
  position: fixed;
  top: 0;
  padding: 8px;
  background-color: #d5d5d5;
}
#message_bar {
  position: fixed;
  top: 0;
}
div.message_container {
  cursor: pointer;
  display: none;
  z-index: 99;
}
div.flash_message {
  padding: 8px;
  text-align: center;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
div.error_message {
  background-color: #f4c8c5;
  margin: 0 auto;
}
div.success_message {
  background-color: #adf1ad;
  margin: 0 auto;
}
div.jumbo_banner {
  margin-top: 8em;
  text-align: center;
}
div.jumbo_banner > h2 {
  margin: 0 auto;
}
.invitation_title {
  color: #156290;
  font-size: 120%;
}
.footnote {
  color: #777777;
  font-size: 80%;
}
html,
body {
  height: 100%;
}
#wrapper {
  min-height: 100%;
  margin-bottom: -4em;
}
#footer-push {
  height: 4em;
}
footer {
  height: 4em;
  color: gray;
  text-align: right;
}
