@import "bootstrap/variables.less";

@footerHeight: 4em;

.navbar .nav > li > a {
  font-size:120%;
  font-weight:bold;
}

h3 {
    font-weight:600;
}

// Form-related elements
// ------------------

div.org_input_block {
    margin-top: 30px;
}

span.required_field {
    color: @red;
}

div.input_container {
    margin-top: 10px;
}

div.input_container label input {
    display: inline;
}

div.input_container input {
    margin: 0 auto;
}

div.input_container a.btn {
    margin: 0 auto;
}

div.input_container.submit {
    margin-top: 25px;
}

// These overwrite the default behavior
.nav-list > .active > a, .nav-list > .active > a:hover {
  background: transparent;
  text-shadow: none;
  font-weight: bolder;
  color: @linkColorHover;
}

.page_block {
  margin-bottom: 30px;
}

// Use alternative buttons' styles for default buttons.
// Ideally we should do ".btn { .btn-primary; }". However, this would require
// including buttons.less and thus result in lots of uplicate lines in main.css
// and with bootstrap.css.
.btn,
.btn:hover {
  color: @white;
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}

.btn.active {
  color: rgba(255,255,255,.75);
}

.btn {
  // Since the default buttons are dark blues which makes them look bigger,
  // their height needs to be shortened a bit. Bootstrap's default is
  // @baseLineHeight = @baseFontSize * 1.5.
  line-height: @baseFontSize * 1.4;
}

.full_name {
  font-weight: bold;
}

// Suppress datatables colume headers
.dataTables_wrapper table thead {
  display: none;
}

.datatable_body {
  margin-bottom: 15px;
}

// Force dataTables info text (e.g. "1-10 of 100") stay close to pagination
// buttons. The sDom parameter must place the text _after_ pagination,
// e.g. "<'span3'pi>". See invocations to dataTable() in shared_folder.mako,
// users.mako, etc for examples.
.dataTables_info {
  display: inline;
  float: right;
  margin-right: 10px;
}

// To correct the vertical mis-alignment for icons in bootstrap.css
[class^="icon-"], [class*=" icon-"] {
  vertical-align: -2px;
}

// Shared folders view
// ------------------

a.delete_permission {
    color: @red;
    text-decoration: none;
    padding-left: 8px;
}

p.sid_container {
    display: none;
}

// Messages
// ------------------

#empty_message_bar {
    position: fixed;
    top: 0;
    padding: 8px;
    background-color: darken(@grayLighter, 10%);
}

#message_bar {
    position: fixed;
    top: 0;
}

div.message_container {
    cursor: pointer;
    display: none;
    z-index: 99;
}

div.flash_message {
    padding: 8px;
    text-align: center;
}

div.error_message {
    background-color: @errorMessageColor;
    margin: 0 auto;    // for center alignment
}

div.success_message {
    background-color: @successMessageColor;
    margin: 0 auto;    // for center alignment
}

div#not_authorized {
    color: @red;
    margin-bottom: 10px;
}

div.jumbo_banner {
    margin-top: 8em;
    text-align: center;
}

div.jumbo_banner > h2 {
    margin: 0 auto;   // for center alignment
}

.invitation_title {
    color: @base02;
    font-size: 120%;
}

// Make the footer stick to the bottom
// ------------------

html, body {
    height: 100%;
}

#wrapper {
    min-height: 100%;
    margin-bottom: -@footerHeight;
}

#footer-push {
    height: @footerHeight;
}

footer {
    height: @footerHeight;
    // background: @base02;
    // color: @base1;
    color: gray;
    text-align: right;
}

.sidebar-nav {

}
