<div id="breadcrumb-and-actions">
  <div id="actions"
    ng-if="!currentShare.token"
    ng-hide="!fsLocation.currentFolder">
    <span aero-file-upload class="btn btn-primary" id="upload-file"
      ng-hide="isOldIE" ng-class="{'disabled': error.status == 503 }"></span>
    <button type="button" class="btn btn-default" id="new-folder"
      ng-click="newFolder.hidden=false"
      ng-class="{'disabled': error.status == 503}">New folder</button>
  </div>

  <div class="row">
    <div aero-link-options 
      ng-model="currentShare.link"
      title="Sharing Options"
      ng-if="currentShare.token && currentShare.isAdmin"></div>
    <h2 ng-if="currentShare.token && !currentShare.isSingleObject">
      <span class="glyphicon glyphicon-link"></span> {{ breadcrumbs[0].name || fsLocation.currentFolder.name }}
    </h2>
    <h2 ng-if="currentShare.token && currentShare.isSingleObject">
      <span class="glyphicon glyphicon-link"></span> Download file {{ objects[0].name || "" }}
    </h2>
    <div class="link-labels"
      ng-if="currentShare.token"
      ng-show="currentShare.link.has_password || currentShare.link.expires > 0">
      <span class="label label-default"
        title="Password will only be required for users who are not already owners of this file or folder."
        ng-show="currentShare.link.has_password"><span class="glyphicon glyphicon-lock"></span> password-protected</span>
      <span class="label label-default"
        title="This link will stop working after the expiration time."
        ng-show="currentShare.link.expires > 0"><span class="glyphicon glyphicon-time"></span> expires {{currentShare.link.expires|humanDate}}</span>
    </div>
    <ul class="breadcrumb" ng-if="!currentShare.isSingleObject">
        <li class="active"
          ng-if="(fsLocation.currentFolder.id == 'root' || error.status == 503) && !currentShare.token">
            My files
        </li>
        <li ng-if="fsLocation.currentFolder.id != 'root' && error.status != 503 && !currentShare.token">
            <a href="#/root">My files</a>
        </li>

        <li ng-repeat="folder in breadcrumbs">
          <a ng-href="#/{{derefAnchor(folder)}}">{{folder.name}}</a>
        </li>

        <li ng-if="fsLocation.currentFolder.id != 'root'" class="active">
          {{fsLocation.currentFolder.name}}
        </li>
    </ul>
  </div>
</div>

<div id="file-list">
  <div class="my-table-head row">
      <div class="hidden-xs">
        <div ng-class="{
                'col-xs-8': currentShare.token,
                'col-xs-12': !currentShare.token,
                'col-sm-7': !currentShare.token,
                'col-md-6': !currentShare.token}">
          <div class="icon">&nbsp;
          </div>
          <div class="name">
            Name
          </div>
        </div>
        <div ng-class="{
                'col-xs-4': currentShare.token,
                'col-xs-2': !currentShare.token,
                'col-sm-2': !currentShare.token}">
          Size
        </div>
        <div ng-if="!currentShare.token" class="col-md-4 last-modified hidden-sm">
          Last modified
        </div>
      </div>
  </div>
  <div class="my-table-body">
      <div class="my-row row" id="new-folder"
        ng-if="!currentShare.token && outstandingRequests === 0"
        ng-show="!newFolder.hidden">
        <div class="col-md-6 col-sm-7 col-xs-12">
          <div class="icon"><img src="/static/shelob/img/icons/40x40/filetype_folder.png"></div>
          <div class="name">
            <input aero-in-place-edit
              type="text"
              ng-model="newFolder.name"
              focus-on="!newFolder.hidden"
              on-submit="submitNewFolder()"
              on-cancel="cancelNewFolder()"
            />
          </div>
        </div>
      </div>

      <div class="my-row row" 
        ng-if="!objects.length && outstandingRequests === 0">
        <div class="col-sm-12 object dir-status">
          <div ng-hide="error.status == 503 && !(currentShare.isSingleObject)">
            <div class='icon'>&nbsp;</div>
            <div class="name">No files found</div>
          </div>
          <div class="name"
            ng-show="error.status == 503 && !(currentShare.isSingleObject)">
            <div ng-bind-html="error.text"></div>
          </div>
        </div>
      </div>

      <div class="my-row row" ng-repeat="object in objects | orderBy:['-type', 'name']">
        <div aero-file-row></div>
      </div>

  </div>
</div>
