<div class="modal-header">
    <h4>Select a destination</h4>
</div>
<div class="modal-body">
    <treecontrol class="tree-classic"
                 tree-model="treedata"
                 selected-node="moveSelected"
                 on-expand="onMoveFolderExpanded(node)">
        {{node.label}}
    </treecontrol>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="$close(moveSelected)">Move</button>
    <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
</div>
