<html>
<body>

<h1>Your AeroFS is Ready</h1>

<p>
    Please click the link below to access your AeroFS and create your first
    user account.
</p>
<br />
<h2><a href="{{ subdomain }}">{{ subdomain }}</a></h2>
<br />
<p>
    Your 30-day trial begins today. Get started now and move AeroFS onto your own
    infrastructure when the trial expires.
</p>
<p>
    Questions? Check out our frequently asked questions at
    <a href="{{ faqs_url }}">{{ faqs_url }}</a> or reply directly to this email for
    technical support.
</p>


<p>Regards,<br/>
The AeroFS Team</p>

</body>
</html>