<p>{{ admin.first_name }} -</p>

<p>Congratulations, in this email you are receiving access to your AeroFS
Private Cloud. The implementation is a 4 step process and should take less
than 10 minutes.</p>

<p>Your license key and the appliance image are available for download from the
Private Cloud Dashboard:</p>

<p><a href="{{ dashboard_url }}">{{ dashboard_url }}</a></p>

<p>Helpful links:<br>
Implementation Video: <a href="{{ implementation_video_url }}">{{ implementation_video_url }}</a><br>
FAQs and implementation instructions: <a href="{{ faqs_url }}">{{ faqs_url }}</a></p>
