<p>{{ admin.first_name }},</p>

<p>In this email you are receiving access to your AeroFS Private Cloud license. Your license and the appliance image are available for download from your <a href="{{ dashboard_url }}">Private Cloud Dashboard</a>.</p>

<p>If you have any questions about setting up the service, like how to launch the AeroFS appliance in your hypervisor, you can go to our <a href="{{ faqs_url }}">support site</a> which contains some helpful walkthroughs and answers to frequently asked questions.</p>

<p>If you can’t find the answer to your question there, feel free to <a href="{{ contact_url }}">contact our support desk</a>.</p>

<p>Regards,<br/>
The AeroFS Team</p>
