<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) Air Computing Inc., 2013.
  ~ This is a do-nothing logback configuration that will be replaced
  ~ at runtime with a task-specific setup.
  -->
<configuration>
    <appender name="NOP" class="ch.qos.logback.core.helpers.NOPAppender" />
    <root level="OFF">
        <appender-ref ref="NOP"/>
    </root>
</configuration>
