//
// AeroFS customization for Bootstrap's variables.less.
//
// N.B. never modify bootstrap/variables.less (or anything copied from the
// Bootstrap library). Use this file to override variables.
//

@blue:                  #71c9f1;
@yellow:                #fddb0e;
@green:                 #5cb85c;
@red:                   #d9534f;

// N.B. update @hrBorder accordingly if this value changes
@bodyBackground:        white;

// Typography
// -------------------------
@font-family-sans-serif:  'Open Sans', sans-serif;
@font-size-base:          11pt;
@headings-font-weight:    300;
@headings-color:          @base02;

@standard-padding: 22px;

// Buttons
// -------------------------
// Note: we use aerofs.less to override buttons' foreground colors

// This color is sampled from the dropbown menu background in the hover state.
@btn-primary-bg:        #358ac3;
// Since @btn-primary-bg has been changed, copy this line from
// variable.less to update @btnPrimaryBackgroundHighlight.
@btnPrimaryBackgroundHighlight:     spin(@btn-primary-bg, 20%);

// AeroFS specific variables
// -------------------------

// Base colors
// We use a naming scheme similar to Solarized (http://ethanschoonover.com/solarized)
// The 0 prefix indicates a dark color, and the larger the number, the darker (or the lighter if no 0)
@base2:                 #e7eef3;
@base1:                 #add5ea;
@base01:                #0d7bb3;
@base02:                #156290;

// override Bootstrap <hr> border color to be less disruptive
@hrBorder:	            @base1;

@successMessageColor:   #3c763d;
@errorMessageColor:     #a94442;

@codeColor:             darken(@successMessageColor, 10%);

@aerofsIconSpritePath:  "../../img/aerofs-icons.png";
@iconSpritePath: "../../img/glyphicons-halflings.png";
@icon-font-path: "../../fonts/";