<?xml version="1.0" encoding="UTF-8"?>

<web-app>
  <!-- default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <!-- Database definitions -->
  <context-param>
    <param-name>sv_database_resource_reference</param-name>
    <param-value>jdbc/SVDatabase</param-value>
  </context-param>
  <resource-ref>
    <res-ref-name>jdbc/SVDatabase</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

  <!-- Initialization listener -->
  <listener>
    <listener-class>com.aerofs.sv.server.SVLifecycleListener</listener-class>
  </listener>

  <!-- Servlets -->
  <servlet>
    <servlet-name>ServletSV</servlet-name>
    <servlet-class>com.aerofs.sv.server.SVServlet</servlet-class>
  </servlet>

  <!-- URL mapping -->
  <servlet-mapping>
    <servlet-name>ServletSV</servlet-name>
    <url-pattern>/sv</url-pattern>
  </servlet-mapping>
</web-app>
