#cloud-config

{#
  Why restart getty? getty service may start before cloud-init. We restart getty so it can pick up
  the drop-in created by cloud-init.
#}
{% set getty_restart_unit = 'getty-restart' %}
{% set getty_drop_in = '/etc/systemd/system/getty@tty1.service.d/50-ship.conf' %}
{% set getty_restart = '/opt/ship/getty/restart' %}
{% set getty_restarted = '/opt/ship/getty/restarted' %}
{% set getty_run = '/opt/ship/getty/run' %}
{% set sail = '/opt/ship/sail' %}
{% set loader_getty = '/opt/ship/loader/getty' %}
{% set repo_file = '/opt/ship/loader/repo' %}
{% set target_file = '/opt/ship/loader/target' %}

hostname: {{ hostname }}

coreos:
  units:
    - name: {{ getty_restart_unit }}.path
      command: start
      content: |
        [Unit]
        Description=Getty Restart path
        [Path]
        PathExists={{ getty_drop_in }}

    - name: {{ getty_restart_unit }}.service
      content: |
        [Unit]
        Description=Getty Restart service
        [Service]
        ExecStart={{ getty_restart }}

    - name: ship.service
      command: start
      content: |
        [Unit]
        Description=Ship service
        After=docker.service
        [Service]
        ExecStart={{ sail }}

  oem:
    id: aerofs-ship
    name: AeroFS Ship
    version-id: 0.0.0
    home-url: http://www.aerofs.com/
    bug-report-url: http://www.aerofs.com/

  update:
    reboot-strategy: off

write_files:
  - path: {{ getty_restart }}
    permissions: 0755
    content: |
      #!/bin/bash
      set -ex
      if [ -f {{ getty_restarted }} ]; then exit 0; fi
      systemctl daemon-reload
      systemctl restart getty@tty1
      touch {{ getty_restarted }}

  - path: {{ getty_drop_in }}
    content: |
      [Service]
      ExecStart=
      ExecStart=-/sbin/agetty --noclear --skip-login --autologin root --login-program {{ getty_run }} %I $TERM

  - path: {{ getty_run }}
    permissions: 0755
    content: |
      #!/bin/bash
      set -e
      {# No more console pollution from dmesg #}
      dmesg -n 1
      echo 'Loading console service...'

      {# Create repo file if not exist #}
      [[ -f {{ repo_file }} ]] || (mkdir -p $(dirname {{ repo_file }}) && echo '{{ repo }}' > {{ repo_file }})

      IMAGE="$(cat {{ repo_file }})/{{ loader_image }}"
      docker run --rm -v {{ loader_getty }}:/host "${IMAGE}" install-getty /host
      {# Don't rely on systemd's Restart= directive as the user may ^C in quick succession causing systemd to #}
      {# disable the service. #}
      while true; do {{ loader_getty }}/run; done

  - path: {{ sail }}
    permissions: 0755
    content: |
      #!/bin/bash
      set -ex
      while true; do
        {# A potential bug in CoreOS (as of 554.0.0) may cause scope units remain running after a container stops. #}
        {# Stop the unit here as it would block the container from restarting. #}
        RUNNING="$(docker ps -q --no-trunc)"
        for SCOPE in $(systemctl list-units --no-legend 'docker-*.scope' | awk '{print $1}'); do
          ID=$(echo ${SCOPE} | sed -e 's/^docker-\(.*\)\.scope$/\1/')
          {# Stop a Docker scope unit if the container ID it refers to is not in `docker ps` #}
          [[ "$(echo "${RUNNING}" | grep ${ID})" ]] || (
            echo "Stopping dangling unit ${SCOPE}..."
            systemctl stop ${SCOPE}
          )
        done

        {# Create repo and target files if not exist #}
        [[ -f {{ repo_file }} ]] || (mkdir -p $(dirname {{ repo_file }}) && echo '{{ repo }}' > {{ repo_file }})
        [[ -f {{ target_file }} ]] || (mkdir -p $(dirname {{ target_file }}) && echo '{{ target }}' > {{ target_file }})

        IMAGE="$(cat {{ repo_file }})/{{ loader_image }}"

        {# Use the same container name across restarts as crane/docker doesn't update container links on restarts. #}
        {# Attach tag to support live upgrades. #}
        CONTAINER=loader-$(docker run --rm "${IMAGE}" tag)

        {# Create Loader container if not exist #}
        [[ "$(docker ps -a | grep ${CONTAINER})" ]] || \
            docker create --name "${CONTAINER}" -v /var/run/docker.sock:/var/run/docker.sock \
              -v {{ repo_file }}:/host{{ repo_file }} -v {{ target_file }}:/host{{ target_file }} \
              "${IMAGE}" load /host{{ repo_file }} /host{{ target_file }}

        echo 'Starting Loader...'
        docker start -a "${CONTAINER}"
        echo 'Loader stopped'
      done
