<?xml version="1.0" encoding="UTF-8"?>

<web-app>
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <!-- To enforce serializable sessions. -->
  <distributable/>

  <!-- Initialization listener -->
  <listener>
    <listener-class>com.aerofs.sp.server.listeners.ConfigurationLifecycleListener</listener-class>
  </listener>

  <!-- Servlets -->
  <servlet>
    <servlet-name>ServletSmtpVerification</servlet-name>
    <servlet-class>com.aerofs.sp.server.SmtpVerificationServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ServletLdapVerification</servlet-name>
    <servlet-class>com.aerofs.sp.server.LdapVerificationServlet</servlet-class>
  </servlet>

  <!-- URL mapping -->
  <servlet-mapping>
    <servlet-name>ServletSmtpVerification</servlet-name>
    <url-pattern>/email</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ServletLdapVerification</servlet-name>
    <url-pattern>/ldap</url-pattern>
  </servlet-mapping>
</web-app>
