<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <!-- config parameters -->

  <context-param>
    <param-name>labeling_class</param-name>
    <param-value>com.aerofs.l.AA</param-value>
  </context-param>
  <context-param>
    <!-- must be the same as a res-ref-name defined in a resource-ref below -->
    <param-name>sv_database_resource_reference</param-name>
    <param-value>jdbc/SVDatabase</param-value>
  </context-param>

  <!-- servlets -->

  <servlet>
    <servlet-name>ServletSV</servlet-name>
    <servlet-class>com.aerofs.sp.server.sv.SVServlet</servlet-class>
  </servlet>

  <!-- url mapping -->

  <servlet-mapping>
    <servlet-name>ServletSV</servlet-name>
    <url-pattern>/sv</url-pattern>
  </servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <!-- MySQL connection pooling for SVDatabase -->
  <resource-ref>
    <description>
      Resource reference for a java.sql.Connection factory. Initializes/pools connections for
      the database defined in context parameters above.
    </description>
    <res-ref-name>jdbc/SVDatabase</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
</web-app>
