{% macro render_logo_header() %}
    <div id="icon-only-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <a class="brand" href="">
                        <img src="{{ url_for('static', filename='img/aero_swirl_logo.png') }}"
                             alt="AeroFS"
                             height="47"
                             width="46"
                        />
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}