{#
 Use this macro to render a wtform field object

 Additional arguments that can be passed to the macro:

    - with_label (boolean, default: True) - whether to use a <label> element to display the field description, or to use
      the `placeholder` attribute. Note that attribute isn't supported before IE10.

    - label_width(int, default: 3) - default label width.
    - no_divs (boolean, default: False) - if True, do not wrap the <input> elements with <div> elements. Use this for
      inline forms.

    - class_ (string) - additional css classes that will be set to the <input> element

    Note: any extra arguments will be set as attributes on the <input> element
#}
{% macro render_field(field) %}
    {# Use labels instead of placeholders by default since placeholders aren't supported before IE10. #}
    {# Do not use labels on checkboxes however, since this would be redundant with the checkbox text. #}

    {% set with_label = kwargs.pop('with_label', True) and not field.type == 'BooleanField' %}
    {% set with_divs = not kwargs.pop('no_divs', False) %}
    {% set placeholder = field.label.text if not with_label else ''%}
    {% set class_ = kwargs.pop('class_', 'form-control') %}

    {% if with_divs %}
        <div class="form-group {% if field.errors %}error has-error{% endif %}">
    {% endif %}
        {% if with_label %}
            <label for="{{ field.id }}" class="field-label control-label">
                {{ field.label.text }} {% if field.flags.required %}<span class="required-star">*</span>{% endif %}
            </label>
        {% endif %}
        {% if field.flags.required %}
            {% set class_ = class_ + ' required' %}
        {% endif %}
        {% if field.type == 'BooleanField' %}
            <label class="checkbox control-label">
                {{ field(class_=class_, required=field.flags.required, **kwargs) }}
                {{ field.label.text|safe }}
            </label>
        {% else %}
            {% if field.type == 'TextAreaField' %}
                {% set class_ = class_ + ' ' %}
            {% elif field.type == 'FileField' %}
                {% set class_ = class_ + ' input-file' %}
            {% endif %}
            {{ field(class_=class_, placeholder=placeholder, required=field.flags.required, **kwargs) }}
        {% endif %}
        {% if field.errors %}
            <span class="error help-block">{{ field.errors|join(' ') }}</span>
        {% endif %}
        {% if field.description %}
            <p class="help-block">{{ field.description|safe }}</p>
        {% endif %}
    {% if with_divs %}
    </div>
    {% endif %}
{% endmacro %}

{% macro render_disabled_field(label, value) %}
    <div class="form-group">
        <label class="field-label control-label">{{ label }}</label>
        <input class="form-control" type="text" disabled value="{{ value }}"/>
    </div>
{% endmacro %}

{% macro submit_button(button_text, horizontal=True) %}
    {% if horizontal %}
        <div class="form-group"><div class="col-sm-9 col-sm-offset-3">
    {% endif %}
    <button class="btn btn-primary" type="submit">{{ button_text }}</button>
    {% if horizontal %}
        </div></div>
    {% endif %}
{% endmacro %}

{% macro eula_notice(horizontal=True) %}
    {% if horizontal %}
        <div class="form-group"><div class="">
    {% endif %}
            <p>
                By submitting this form you are agreeing <br/>to the
                <a href="https://www.aerofs.com/terms/#privatecloud">AeroFS Private Cloud License Agreement</a>
            </p>
    {% if horizontal %}
        </div></div>
    {% endif %}
{% endmacro %}

{% macro render_pw_strength_script() %}
    {# We don't use this at the top-level because it
       applies to everything with a type password - which affects
       password entry. #}
    <script type="text/javascript">
        (function configurePWStrength () {
            var state = ["Weak", "Normal", "Medium", "Strong", "Very Strong"];
            var verdicts = state.map(function (s) { return 'Password Strength: ' + s});

            $(':password').pwstrength({
                ui: {
                    verdicts: verdicts
                }
            });
        })();
    </script>
{% endmacro %}
