{# we need the whole license rather than just the state itself so we can #}
{# access the states enum on the license object #}
{% macro pretty_state(license) %}
{% if license.state == license.states.PENDING %}PENDING
{% elif license.state == license.states.ON_HOLD %}ON_HOLD
{% elif license.state == license.states.FILLED %}FILLED
{% elif license.state == license.states.IGNORED %}IGNORED
{% else %}UNKNOWN
{% endif %}
{% endmacro %}


{% macro license_state_button(license, state, label) %}
    <form action="{{ url_for('.license_actions', license_id=license.id) }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input name="state" type="hidden" value="{{ state }}"/>
    <input class="tablebutton" type="submit" value="{{ label }}"/>
    </form>
{% endmacro %}


{% macro render_license_state_buttons(license) %}
{% if license.state == license.states.PENDING %}
    <td>{{ license_state_button(license, "ON_HOLD", "Hold") }}</td>
    <td>{{ license_state_button(license, "IGNORED", "Ignore") }}</td>
{% elif license.state == license.states.ON_HOLD %}
    <td>{{ license_state_button(license, "PENDING", "Restore") }}</td>
    <td>{{ license_state_button(license, "IGNORED", "Ignore") }}</td>
{% elif license.state == license.states.FILLED %}
{# no actions, but fill the table row anyway #}
<td></td><td></td>
{% elif license.state == license.states.IGNORED %}
    <td>{{ license_state_button(license, "PENDING", "Restore") }}</td>
    <td>{{ license_state_button(license, "ON_HOLD", "Hold") }}</td>
{% endif %}
{% endmacro %}


{% macro render_license_table(licenses) %}
    <table class="table">
        <tr>
            <th>Company</th>
            <th>Members</th>
            <th>State</th>
            <th>Seats</th>
            <th>Trial?</th>
            <th>Expiry Date</th>
            <th colspan="3">Actions</th>
        </tr>
        {% for license in licenses %}
        <tr>
            <td>{{ license.customer.name }}</td>
            <td>{% for admin in license.customer.admins.all() %}{{ admin.first_name }} {{ admin.last_name }} - {{ admin.email }}<br>{% endfor %}</td>
            <td>{{ pretty_state(license) }}</td>
            <td>{{ license.seats }}</td>
            <td>{% if license.is_trial %}Trial{% else %}Full license{% endif %}</td>
            <td>{{ license.expiry_date.strftime('%b %d, %Y') }}</td>
            <td><a href="{{ url_for(".license_actions", license_id=license.id) }}">Details</a></td>
            {{ render_license_state_buttons(license) }}
        </tr>
        {% endfor %}
    </table>
{% endmacro %}
