{# we need the whole license rather than just the state itself so we can #}
{# access the states enum on the license object #}
{% macro pretty_state(license) %}
{% if license.state == license.states.PENDING %}PENDING
{% elif license.state == license.states.ON_HOLD %}ON_HOLD
{% elif license.state == license.states.FILLED %}FILLED
{% elif license.state == license.states.IGNORED %}IGNORED
{% else %}UNKNOWN
{% endif %}
{% endmacro %}


{% macro license_state_button(license, state, label) %}
    <form action="{{ url_for('.license_actions', license_id=license.id) }}" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input name="state" type="hidden" value="{{ state }}"/>
    <input class="tablebutton" type="submit" value="{{ label }}"/>
    </form>
{% endmacro %}


{% macro render_license_state_buttons(license) %}
{% if license.state == license.states.PENDING %}
    <td>{{ license_state_button(license, "ON_HOLD", "Hold") }}</td>
    <td>{{ license_state_button(license, "IGNORED", "Ignore") }}</td>
{% elif license.state == license.states.ON_HOLD %}
    <td>{{ license_state_button(license, "PENDING", "Restore") }}</td>
    <td>{{ license_state_button(license, "IGNORED", "Ignore") }}</td>
{% elif license.state == license.states.FILLED %}
{# no actions, but fill the table row anyway #}
<td></td><td></td>
{% elif license.state == license.states.IGNORED %}
    <td>{{ license_state_button(license, "PENDING", "Restore") }}</td>
    <td>{{ license_state_button(license, "ON_HOLD", "Hold") }}</td>
{% endif %}
{% endmacro %}


{% macro render_license_table(licenses, charges) %}
    <table class="table">
        <tr>
            <th>State</th>
            <th>Seats</th>
            <th>Free/Paid?</th>
            <th>Issue Date</th>
            <th>Expiry Date</th>
            <th>Manual Invoice</th>
            <th>Auditing</th>
            <th>Identity</th>
            <th>MDM</th>
            <th>DDR</th>
            <th colspan="3">Actions</th>
        </tr>
        {% for license in licenses %}
        <tr>
            <td>{{ pretty_state(license) }}</td>
            <td>{{ license.seats }}</td>
            <td>{% if license.is_trial %}Free{% else %}Paid license{% endif %}</td>
            <td>{{ license.create_date.strftime('%x') }}</td>
            <td>{{ license.expiry_date.strftime('%x') }}</td>
            <td>{% if license.invoice_id %} {{ license.invoice_id }} {% endif %}</td>
            <td>{% if license.allow_audit %}&#x2714{% endif %}</td>
            <td>{% if license.allow_identity %}&#x2714{% endif %}</td>
            <td>{% if license.allow_mdm %}&#x2714{% endif %}</td>
            <td>{% if license.allow_device_restriction %}&#x2714{% endif %}</td>
            <td><a href="{{ url_for(".license_actions", license_id=license.id) }}">Details</a></td>
            {{ render_license_state_buttons(license) }}
        </tr>
        {% endfor %}
    </table>
{% endmacro %}
