{% extends "public_legacy.html" %}
{% from "_formhelpers.html" import render_field, submit_button, eula_notice %}

{% block title %}Create Account | AeroFS Private Cloud{% endblock %}

{% block content %}
    <h1>Accept your invitation to manage {{ customer.name }}</h1>
    <form role="form" class="form-horizontal" action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <p> Email: {{ invite.email }} </p>
        {{ render_field(form.first_name) }}
        {{ render_field(form.last_name) }}
        {{ render_field(form.phone_number) }}
        {{ render_field(form.job_title) }}
        {{ render_field(form.password) }}
        {{ eula_notice() }}
        {{ submit_button("Accept Invitation") }}
    </form>
{% endblock %}
