{% extends "public.html" %}
{% from "_formhelpers.html" import render_field, submit_button, eula_notice, render_pw_strength_script %}

{% block title %}Create Account | AeroFS Private Cloud{% endblock %}

{% block head %}
    <link href="{{ url_for('static', filename='css/password.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div id="accept-invitation" class="col-sm-6 col-sm-offset-3 full-width-form signup-form">
        <h1 class="text-center">Accept Invitation to Manage {{ customer.name }}</h1>
        <form role="form" class="form-horizontal with-password" action="" method="post" name="login">
            {{ form.hidden_tag() }}
            {{ render_field(form.first_name, no_divs=true, with_label=false, type="text", autofocus=true) }}
            {{ render_field(form.last_name, no_divs=true, with_label=false, type="text") }}
            <div class="clearfix"></div>
            {{ render_field(form.phone_number, no_divs=true, with_label=false, type="text") }}
            {{ render_field(form.job_title, no_divs=true, with_label=false, type="text") }}
            {{ render_field(form.password, no_divs=true, with_label=false, autofocus=true, type="password", class_="") }}
            {{ submit_button("Accept Invitation", horizontal=false) }}
        </form>
    </div>
    <div class="eula col-sm-6 col-sm-offset-3">
        {{ eula_notice(horizontal=False) }}
    </div>
{% endblock %}

{% block scripts %}
    {{ render_pw_strength_script() }}
{% endblock %}
