{% extends 'base_legacy.html' %}
{% from "_menuhelpers.html" import render_menu_item %}

{% block navbar_logo_link %}{{ url_for('internal.index') }}{% endblock %}

{% block sidebar %}
    <ul class="nav nav-list left-nav">
        <li class="nav-header">Licensing Admin</li>
        <br/>
        <li class="nav-header">Account Lists</li>
        {{ render_menu_item('.all_accounts', 'All Accounts') }}
        {{ render_menu_item('.paying_accounts', 'Paying Acounts') }}
        <li class="nav-header">License Provisioning</li>
        {{ render_menu_item('.queues', 'License Queues') }}
        {{ render_menu_item('.download_license_request_csv', 'Download License Requests') }}
        {{ render_menu_item('.upload_bundle', 'Upload License Bundle') }}
        <li class="nav-header">Hosted Private Cloud</li>
        {{ render_menu_item('.hpc_deployments', 'Manage Deployments') }}
        {{ render_menu_item('.hpc_servers', 'Manage Servers') }}
        <li class="nav-header">Appliance Management</li>
        {{ render_menu_item('.release', 'Release Appliance Images') }}
    </ul>
{% endblock %}
