{% extends 'base.html' %}
{% from "_menuhelpers.html" import render_menu_item %}

{% block navbar_logo_link %}{{ url_for('internal.index') }}{% endblock %}

{% block sidebar %}
    <ul class="nav nav-list left-nav">
        <li class="nav-header">Licensing Admin</li>
        {{ render_menu_item('.all_customers', 'View customers') }}
        {{ render_menu_item('.queues', 'License queues') }}
        {{ render_menu_item('.download_license_request_csv', 'Download license request csv') }}
        {{ render_menu_item('.upload_bundle', 'Upload license bundle') }}
        {{ render_menu_item('.release', 'Release new appliance') }}
    </ul>
{% endblock %}
