{% extends 'base.html' %}
{% from "_menuhelpers.html" import render_menu_item %}

{% block navbar_logo_link %}{{ url_for('internal.index') }}{% endblock %}

{% block sidebar %}
    <ul class="nav nav-list left-nav">
        <li class="nav-header">Licensing Admin</li>
        {{ render_menu_item('.all_customers', 'All Customers') }}
        {{ render_menu_item('.active_customers', 'Paying Customers') }}
        {{ render_menu_item('.queues', 'License Queues') }}
        {{ render_menu_item('.download_license_request_csv', 'Download License Request CSV') }}
        {{ render_menu_item('.upload_bundle', 'Upload License Bundle') }}
        {{ render_menu_item('.release', 'Release Appliance Images') }}
    </ul>
{% endblock %}
