{% extends "logged_in.html" %}
{% from "_formhelpers.html" import render_field, submit_button %}

{% block content %}
    <h1>Administrators</h1>
    <table class="table">
        <thead>
        <tr>
            <th class="name">Name</th>
            <th class="email">Email</th>
            <th class="actions">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for admin in user.customer.admins %}
            <tr class="user">
                <td class="name">{{ admin.first_name }} {{ admin.last_name }}</td>
                <td class="email">{{ admin.email }}</td>
                <td>
                    {# TODO: add button to kick out user or resend invitation? #}
                    Remove as Admin
                </td>
            </tr>
        {% endfor %}
        {% for invite in user.customer.pending_invites %}
            <tr class="invite">
                <td class="name"></td>
                <td class="email">{{ invite.email }}</td>
                <td>
                    resend invite, remove invite
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h4>Invite another admin</h4>

    <form class="form-inline" action="{{ url_for('.invite_to_organization') }}" method="post" name="invite">
        {{ form.hidden_tag() }}
        {{ render_field(form.email, with_label=False, no_divs=True) }}
        {{ submit_button("Send Invite", horizontal=False) }}
    </form>
    {# TODO: add invite button/form here that POSTs? #}

{% endblock %}
