{% extends "admin.html" %}

{% block title %}All customers{% endblock %}

{% block content %}
    <h1>All known customers</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Admins</th>
            <th>Actions</th>
        </tr>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.name }}</td>
                <td>{{ customer.id }}</td>
                <td>{% for admin in customer.admins.all() %}{{ admin.email }}<br>{% endfor %}</td>
                <td><a href="{{ url_for('.customer_actions', org_id=customer.id) }}">Create new license request</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
