{% extends "layout.html" %}

{% block body %}
     <div class="container">
        <div class="row">
            {% set content_class = 'col-sm-9' if self.sidebar() else 'col-sm-12' %}

            {% if self.sidebar() %}
                <div class="col-sm-3">
                    {% block sidebar %}{% endblock %}
                </div>
            {% endif %}
            <div class="{{ content_class }}" >
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
