{% extends "logged_in.html" %}
{% from "_formhelpers.html" import render_field, eula_notice,  %}

{% block title %}Buy Licenses | AeroFS Private Cloud{% endblock %}

{% block content %}
<div class="row">
    <h2>Order Summary</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Description</th>
                <th>Amount ( $
                        {% if billing_frequency == "aerofs_monthly" %}/month
                        {% elif billing_frequency == "aerofs_annual" %}/year
                        {% endif %}
                    )</th>
            </tr>
        </thead>
        <tbody>
            {% for charge in order_summary.charges %}
            <tr>
                <td>
                        <p>{{ charge.description }}</p>
                </td>
                <td><p> $ {{ charge.amount / 100 }}</p></td>
            </tr>
            {% endfor %}
            <tr>
                <td>
                        <p style="text-align: right">Total:</p>
                </td>
                <td><p> $ {{ order_summary.total / 100 }}</p></td>
            </tr>

        </tbody>
    </table>
</div>

{% if not stripe_customer_id %}
<div class="row">
<p>
All AeroFS Subscriptions are annual, but you may choose a billing period for credit card payments:

<select onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value)">
    {% for subscription in subscriptions %}
        <option id="{{ subscription }}" value="/buy?billing_frequency={{ subscription }}" {%if subscription == billing_frequency %}selected="true"{% endif %}>{{ subscriptions[subscription ].description}}</option>
    {% endfor %}
</select>
</p>
</div>
{% endif %}

<div class="row text-center">
<p>

<form id='form' method="POST" action="{{ url_for('.pay') }}" role="form" style="form-inline">
    <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
    <input type=hidden name="billing_frequency" value="{{ billing_frequency }}">
    <input type=hidden name="requested_license_count" value ="{{ requested_license_count }}">
    <button id="ccPurchase" class="btn btn-primary">Pay with Card</button>
{% if requested_license_count >= 100 %}
    <a href="mailto:sales@aerofs.com?subject=Purchase {{ requested_license_count }} seats by invoice"><button type="button" class="btn btn-default" id="invoice">Pay with Invoice</button></a>
{% endif %}
<br><br>
    {{ eula_notice() }}
</form>
</p>
</div>


{% endblock %}

{% block scripts %}
{% if not stripe_customer_id %}
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script>
        $('#ccPurchase').click(function(){
          $('#ccPurchase').prop('disabled', true);

          var token = function(res){
            var $stripeToken = $('<input type=hidden name=stripeToken />').val(res.id);
            $('form').append($stripeToken).submit();
          };

          StripeCheckout.open({
            key:         '{{ config.STRIPE_PUBLISHABLE_KEY }}',
            amount:      {{ order_summary.total }},
            currency:    'usd',
            name:        'AeroFS Private Cloud',
            description: 'Buying {{ requested_license_count }} seats',
            allowRememberMe: false,
            token:       token
          });

          return false;
        });
    </script>
{% else %}
    <script>
        $('#ccPurchase').click(function() {
            $('#ccPurchase').prop('disabled', true);
            this.form.submit();
        });
    </script>
{% endif %}
{% endblock %}