{% extends "public.html" %}
{% from "_formhelpers.html" import render_field, submit_button %}

{% block title %}Complete Password Reset | AeroFS Private Cloud{% endblock %}

{% block head %}
    <link href="{{ url_for('static', filename='css/password.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <h1>Complete Password Reset</h1>
    <p>Please create a new password for your account associated with the {{ email }} email address.</p>
    <br/>
    <div class="text-center col-sm-8">
        <form role="form" class="form-horizontal" action="" method="post" name="reset-password">
            {{ form.hidden_tag() }}
            {{ render_field(form.password, type="password") }}
            {{ submit_button("Set Password") }}
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        (function setPassword() {
            $(':password').pwstrength();
        })();
    </script>
{% endblock %}
