{% extends "public_legacy.html" %}
{% from "_formhelpers.html" import render_field, submit_button %}

{% block title %}Complete Password Reset | AeroFS Private Cloud{% endblock %}

{% block content %}
    <h1>Complete Password Reset</h1>
    <form role="form" class="form-horizontal" action="" method="post" name="reset-password">
        {{ form.hidden_tag() }}
        <p>Email: {{ email }}</p>
        {{ render_field(form.password, type="password") }}
        {{ submit_button("Set Password") }}
    </form>
{% endblock %}

