{% extends "public.html" %}
{% from "_formhelpers.html" import render_field, submit_button, render_disabled_field %}

{% block title %}Complete Signup | AeroFS Private Cloud{% endblock %}

{% block head %}
<style type="text/css">
    .progress {
        width: 174px;
        margin: 15px auto 5px auto;
    }
    span.password-verdict {
        color: gray;
        font-size: 12px;
    }
</style>
{% endblock %}

{% block content %}
    {{ render_logo_header() }}
    <div id="complete-signup-container">
        <div class="col-sm-2"></div>
        <div class="text-center col-sm-8">
            <h1>Complete Your Account Signup</h1>
            <p>Choose an account password to grant you access to your Dashboard where you
            can upgrade your account or move your AeroFS onto your own infrastructure.
            Later, you will create the first user for your AeroFS and invite your colleagues.</p>
            <form class="form-horizontal" action="" method="post" name="login">
                {{ form.hidden_tag() }}
                {{ render_field(form.password, autofocus=true, type="password") }}
                {{ submit_button("Complete Sign Up", horizontal=True) }}
            </form>
        </div>
         <div class="col-sm-2"></div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        (function completeSignupPage() {
            $(':password').pwstrength();
        })();
    </script>
{% endblock %}

