{% extends "public_legacy.html" %}
{% from "_formhelpers.html" import render_field, submit_button, render_disabled_field %}

{% block title %}Complete Signup | AeroFS Private Cloud{% endblock %}

{% block content %}
    <h1>Complete Signup</h1>
    <form class="form-horizontal" action="" method="post" name="login">
        {{ form.hidden_tag() }}
        {{ render_disabled_field('Email:', record.email) }}
        {{ render_field(form.password, autofocus=true, type="password") }}
        {{ submit_button("Complete Sign Up", horizontal=True) }}
    </form>
{% endblock %}

