{% extends "public.html" %}
{% from "_formhelpers.html" import render_field, submit_button, render_disabled_field %}

{% block title %}Complete Signup | AeroFS Private Cloud{% endblock %}

{% block head %}
    <link href="{{ url_for('static', filename='css/password.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div id="complete-signup-container">
        <div class="text-center col-sm-8">
            <h1>Complete Your Account Signup</h1>
            <p>Choose an account password to grant you access to your Dashboard.</p>
            <form class="form-horizontal" action="" method="post" name="login">
                {{ form.hidden_tag() }}
                {{ render_field(form.password, autofocus=true, type="password") }}
                {{ submit_button("Complete Sign Up", horizontal=True) }}
            </form>
        </div>
         <div class="col-sm-2"></div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        (function completeSignup() {
            $(':password').pwstrength();
        })();
    </script>
{% endblock %}

