{% extends 'logged_in.html' %}
{% from '_formhelpers.html' import render_field, submit_button %}

{% block title %}Contact Us | AeroFS Private Cloud{% endblock %}

{% block content %}
<h1>Contact Us</h1>
<p>Questions about the AeroFS Private Cloud? Drop us a line and our sales team would be happy to help.</p>

<form role="form" class="form-horizontal" action="" method="post">
    {{ form.hidden_tag() }}
    {{ render_field(form.message, rows=8, autofocus=true, type="textarea", class="form-control") }}
    {{ submit_button("Send", horizontal=true) }}
</form>
{% endblock %}
