{% extends "admin.html" %}
{% from "_formhelpers.html" import render_field, submit_button %}
{% from "_licensehelper.html" import render_license_table %}

{% block head %}
<link href="{{ url_for('static', filename='css/bootstrap-datepicker.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}Customer View | Licensing Admin{% endblock %}

{% block content %}
    <h1>{{ customer.name }}</h1>
    <h3>Members</h3>
    <ul>
        {% for admin in customer.admins.all() %}
            <li>{{ admin.first_name }} {{ admin.last_name }} - {{ admin.email }}</li>
        {% endfor %}
    </ul>

    {% if customer.stripe_customer_id %}
        <h3>Credit Card Info</h3>
        <a href="https://dashboard.stripe.com/customers/{{ customer.stripe_customer_id }}" target="_blank">View
        </a>
    {% endif %}

    <h3>Licenses</h3>
    {{ render_license_table(customer.licenses.all(), charges) }}

    <h3>Create license request</h3>
    <form role="form" class="form-horizontal" action="" method="post">
        {{ form.hidden_tag() }}
        {{ render_field(form.seats) }}
        {{ render_field(form.expiry_date) }}
        {{ render_field(form.manual_invoice) }}
        {{ render_field(form.stripe_subscription_id) }}
        {{ render_field(form.is_trial) }}
        {{ render_field(form.allow_audit) }}
        {{ render_field(form.allow_identity) }}
        {{ render_field(form.allow_mdm) }}
        {{ render_field(form.allow_device_restriction) }}
        {{ submit_button("Create license request") }}
    </form>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/bootstrap-datepicker.min.js') }}" ></script>
<script>
$(document).ready(function() { 
    $('#expiry_date').datepicker({
        format: "yyyy-mm-dd"
    });
});

</script>
{% endblock %}
