{% extends "logged_in.html" %}

{% from "_formhelpers.html" import render_field, submit_button %}

{% block title %}Dashboard | AeroFS Private Cloud{% endblock %}

{% block content %}
    <h1>Upgrade</h1>
    <h2>Download AeroFS on Your Own Infrastructure</h2>
    {% if active_license %}
        <div class="row">
            <div class="col-sm-6">
                <h3>Active License</h3>
                <dl class="well well-sm dl-horizontal">
                    <dt>License type:</dt>
                    <dd>{% if active_license.allow_audit or active_license.allow_identity or active_license.allow_mdm or active_license.allow_device_restriction %}Business{% else %}Team{% endif %}</dd>
                    <dt>Seats:</dt>
                    <dd>{{ active_license.seats }}</dd>
                    <dt>Valid until:</dt>
                    <dd>{{ active_license.expiry_date | date }}</dd>
                </dl>
            {% if newest_license.state == newest_license.states.PENDING %}
                <h3>Pending license</h3>
                <dl class="well well-sm dl-horizontal">
                    <dt>License type:</dt>
                    <dd>{% if newest_license.allow_audit or newest_license.allow_identity or newest_license.allow_mdm or newest_license.allow_device_restriction %}Business{% else %}Team{% endif %}</dd>
                    <dt>Seats:</dt>
                    <dd>{{ newest_license.seats }}</dd>
                    <dt>Valid until:</dt>
                    <dd>{{ newest_license.expiry_date | date }}</dd>
                </dl>
            {% endif %}
            {% if not active_license.is_trial and renewal_seats < active_license.seats %}
                <h3>Renewal information</h3>
                <dl class="well well-sm dl-horizontal">
                    <dt>Seats:</dt>
                    <dd>{{ renewal_seats }}</dd>
                    <dt>Renews on:</dt>
                    <dd>{{ active_license.expiry_date | date }}</dd>
                </dl>
            {% endif %}
                <h3>Purchase Business Licenses</h3>
                    <p>
                        You can purchase or upgrade your <a href="https://www.aerofs.com/pricing" target="_blank">business</a>
                        licenses at any time. If you need more than 1,000 seats,
                        please <a href="/contact">contact us</a>.
                    </p>
                    <form role="form" id="license-form" class="form-inline" action="" method="post" name="seats">
                        {{ form.hidden_tag() }}
                        <div class="field-container">
                            {{ render_field(form.count, type="number", no_divs=True, class="form-control")}}
                        </div>

                        {% if active_license.is_trial %}
                            <button type="submit" class="btn btn-primary btn-block">Purchase Licenses</button>
                        {% else %}
                            <button type="submit" class="btn btn-primary btn-block">Change License Count</button>
                        {% endif %}
                    </form>
            </div>
            <div id="download" class="col-sm-6 full-width-form">
                <p>
                    Current Version: {{ appliance_version }}
                    <br />
                    Visit our <a href="https://support.aerofs.com/hc/en-us/articles/201439644">Release Notes</a> for more information.
                </p>
                <p>
                    <a class="btn btn-default btn-block" href="{{ url_for('.download_latest_license') }}">
                        Download Your License
                    </a>
                </p>
                <hr />
                <p>
                    Choose your hypervisor and a download for the AeroFS appliance
                    in the correct format will be available below.
                </p>
                <p>
                    <select class="dropdown">
                        <option disabled selected>Choose Your Hypervisor</option>
                        <option value="ova">VirtualBox or VMWare</option>
                        <option value="qcow2">OpenStack or EC2</option>
                        <option value="vhd">Hyper-V</option>
                    </select>
                </p>
                <p>
                    <a class="btn btn-default btn-block download ova" href="{{ url_for('.download_ova') }}">
                        Download OVA
                    </a>
                    <a class="btn btn-default btn-block download qcow2 hidden" href="{{ url_for('.download_qcow') }}">
                        Download QCow2
                    </a>
                    <a class="btn btn-default btn-block download vhd hidden" href="{{ url_for('.download_vhd') }}">
                        Download VHD
                    </a>
                </p>
                <p>
                    You may also choose to launch your AeroFS Private Cloud directly via docker and
                    cloud-init. See our <a href="https://github.com/aerofs/aerofs-docker">Github page</a>
                    for detailed instructions.
                </p>
                <p>
                    For instructions on how to launch AeroFS, please see our
                    <a href="https://support.aerofs.com/hc/en-us/articles/204970404">support docs.</a>
                </p>
            </div>
        </div>
    {% else %}
        <p class="alert alert-info">
            Your license request is being processed.
            We'll send you an email when it's ready.
        </p>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        (function downloadSelect () {
            $("select.dropdown").change(function () {
                var value = $(this).val();
                $("a.download").not('.hidden').addClass('hidden');
                $("a.download." + value).removeClass('hidden');
            });
        })();
    </script>
{% endblock %}