{% extends "admin.html" %}
{% from "_formhelpers.html" import render_field, submit_button %}

{% block title %}Hosted Private Cloud | Licensing Admin{% endblock %}

{% block content %}
    <h1>Hosted Private Cloud</h1>

<script>
    {# TODO (GS):
         - better error handling than just alert()
         - show progress indicator
    #}
    function remove_deployment(subdomain) {
        if (confirm("Are you sure that you want to remove '"+ subdomain + "' and all associated data?")) {
            $.ajax({
                url: '/hpc_deployments/' + subdomain,
                type: 'DELETE',
                headers: {"X-CSRFToken": "{{ csrf_token() }}"},
                success: function(result) {
                    $("#row-" + subdomain).remove();
                },
                error: function(result) {
                    alert("Failed! " + result);
                }
            });
         }
    }
</script>
    <table class="table">
        <tr>
            <th>Customer</th>
            <th>Subdomain</th>
            <th>Action</th>
        </tr>
        {% for deployment in deployments %}
            <tr id="row-{{ deployment.subdomain }}">
                <td><a href="{{ url_for('.customer_actions', org_id=deployment.customer_id) }}">{{ deployment.customer.name }}</a></td>
                <td><a href="{{ url_for('.hpc_deployment', subdomain=deployment.subdomain) }}">{{ deployment.subdomain }}</a></td>
                <td><a href="#" onclick="remove_deployment('{{ deployment.subdomain }}'); return false;">Remove</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
