{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="row text-center">
        <div class="span12 page-block">
            <h1>AeroFS Private Cloud</h1>
        </div>

        <div class="span12 page-block">
            <a class="btn btn-primary btn-large" href="{{ url_for('signup_request_page') }}">
                Try AeroFS Private Cloud for Free</a>
        </div>
        <div class="span12 text-center page-block">
            <a href="/login">I already have an account. Log in</a>
        </div>
    </div>
{% endblock %}
