<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="P2P file sharing and file sync lets you create your own hybrid and private
                    cloud. Secure, unlimited data transfer for large or sensitive files on Windows, Mac, Linux, Android and iOS">

        <title>{% block title %}{% endblock %}</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

        <link href="{{ url_for('static', filename='css/google-open-sans.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/compiled/aerofs.min.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='css/compiled/lizard_rebrand.min.css') }}" rel="stylesheet" />

        {# Le HTML5 shim, for IE6-8 support of HTML5 elements #}
        <!--[if lt IE 9]>
        <script src="{{ url_for('static', filename='js/html5.js') }}"></script>
        <![endif]-->
        {% block analytics_snippet %}{% endblock %}
        {% block head %}{% endblock %}
    </head>
    <body>
    <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TPFL7W"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-TPFL7W');</script>
    <!-- End Google Tag Manager -->
        <div id="wrapper">
            {# Message bar #}
            <div class="container">
                <div class="row">
                    <div id="error-wrap" class="col-sm-12">
                        <div id="flash-msg-success" class="alert alert-success alert-dismissable" style="display: none">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <span id="flash-msg-success-body"></span>
                        </div>
                        <div id="flash-msg-error" class="alert alert-danger alert-dismissable" style="display: none">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <span id="flash-msg-error-body"></span>
                        </div>
                    </div>
                </div>
            </div>

           {% block body %}{% endblock %}

            <div id="footer-push"></div>
        </div>

        {% block footer_links %}{% endblock %}

        <script src="{{ url_for('static', filename='js/jquery.min.js') }}" ></script>
        <script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}" ></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" ></script>
        <script src="{{ url_for('static', filename='js/compiled/aerofs.js') }}" ></script>

        {% with messages = get_flashed_messages(with_categories=True) %}
        {# TODO: this could use some cleaning up.  In particular, it would be
        nice for this to not generate JS blocks, but simply add a piece of DOM
        that the JS would interact with unconditionally. #}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == "error" %}
                        <script type="text/javascript">
                            $(document).ready(function() {
                                showErrorMessageUnsafe("{{ message }}");
                            });
                        </script>
                    {% endif %}
                    {% if category == "success" %}
                        <script type="text/javascript">
                            $(document).ready(function() {
                                showSuccessMessageUnsafe("{{ message }}");
                            });
                        </script>
                    {% endif %}
                    {% if category == "pardot" %}
                        <iframe id="pdiframe" src="{{ message }}" width='1' height='1'></iframe>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block scripts %}{% endblock %}
    </body>
</html>
