{% extends "admin.html" %}
{% from "_formhelpers.html" import render_field, render_disabled_field, submit_button %}
{% from "_licensehelper.html" import pretty_state %}

{% block title %}License View | Licensing Admin{% endblock %}

{% block content %}
    <h1>License {{ license.id }}</h1>
    <dl>
        <dt>Company</dt>
        <dd><a href="{{ url_for('.customer_actions', org_id=license.customer.id) }}">{{ license.customer.name }}</a></dd>
        <dt>Members</dt>
        {% for admin in license.customer.admins.all() %}
        <dd>{{ admin.first_name }} {{ admin.last_name }} - {{ admin.email }}</dd>
        {% endfor %}
        <dt>Company ID</dt>
        <dd><a href="{{ url_for('.customer_actions', org_id=license.customer.id) }}">{{ license.customer.id }}</a></dd>
        <dt>License request serial number</dt>
        <dd>{{ license.id }}</dd>
        <dt>State</dt>
        <dd>{{ pretty_state(license) }}</dd>
        <dt>Seats</dt>
        <dd>{{ license.seats }}</dd>
        <dt>Expiry Date</dt>
        <dd>{{ license.expiry_date }}</dd>
        <dt>Trial?</dt>
        <dd>{{ license.is_trial }}</dd>
        <dt>Audit allowed?</dt>
        <dd>{{ license.allow_audit }}</dd>
    </dl>

    {# There's no good reason to manually change the state of the license once it is FILLED. #}
    {# You'll only confuse the service or break other invariants. #}
    <h3>Update license information</h3>
        <form role="form" class="form-horizontal" action="" method="post">
            {{ form.hidden_tag() }}
            {{ render_field(form.invoice_id) }}
            {{ render_field(form.stripe_id) }}
            {% if license.state != license.states.FILLED %}
                {{ render_field(form.state) }}
            {% endif %}
            {{ submit_button("Change state") }}
        </form>

    {% if license.state == license.states.FILLED %}
        <a href="{{ url_for('.license_download', license_id=license.id) }}"><div class="btn btn-primary">Download</div></a>
    {% endif %}
{% endblock %}
