<p>{{ admin.first_name }} -</p>

<p>Congratulations, in this email you are receiving access to your AeroFS
Private Cloud.  The implementation is a 4 step process and should take less
then 10 minutes.  You will need to <b>open ports</b> in your firewall (please
reference the FAQ linked below for additional information).</p>

<p>Your license key and the appliance image are available for download from the Private Cloud Dashboard:</p>

<p><a href="{{ dashboard_url }}">{{ dashboard_url }}</a></p>

<p>You can install the appliance on a few different platforms including VMWare,
VirtualBox, and OpenStack.  If you would like to use VirtualBox you can
download VirtualBox at <a href="{{ virtualbox_url }}">{{ virtualbox_url }}</a></p>

<p>If you have previously downloaded the AeroFS client, <b>Hybrid clients will not
work with the Private Cloud appliance</b>.  For additional information please click
on the following link:
<a href="{{ migrating_to_private_url }}">{{ migrating_to_private_url }}</a></p>

<p>Helpful links:<br>
Implementation Video: <a href="{{ implementation_video_url }}">{{ implementation_video_url }}</a><br>
FAQs: <a href="{{ faqs_url }}">{{ faqs_url }}</a></p>
