{% extends 'public.html' %}
{% from "_menuhelpers.html" import render_menu_item %}

{# due to the pull-right logic, pills are listed from right to left here #}
{% block additional_nav_pills %}
    <li>
        <form role="form" class="form-horizontal hidden" id="logout_form" action="{{ url_for('.logout') }}" method="post" name="logout">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
        <span class="email">{{ current_user.email }}</span>
        <a href="#" onclick="$('#logout_form').submit();" class="sign-out">Sign out</a>
    </li>
{% endblock %}

{% block sidebar %}
    <ul class="nav nav-list left-nav">
        <li class="nav-header">Dashboard</li>
        {{ render_menu_item('.edit_preferences', 'My Account') }}
        {{ render_menu_item('.users', 'My Team') }}
        {{ render_menu_item('.billing', 'Billing')}}
        {{ render_menu_item('.contact', 'Contact') }}
        {{ render_menu_item('.mobile', 'Mobile')}}
        {{ render_menu_item('.dashboard', 'Upgrade') }}
        {# TODO: Enable this when we release the 30-day trial #}
        {# {{ render_menu_item('.get_hpc', 'Free 30-Day Trial')}} #}
    </ul>
{% endblock %}
