{% extends 'public.html' %}
{% from "_menuhelpers.html" import render_menu_item %}

{# due to the pull-right logic, pills are listed from right to left here #}
{% block additional_nav_pills %}
    <li>
        <form role="form" class="form-horizontal hidden" id="logout_form" action="{{ url_for('.logout') }}" method="post" name="logout">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        </form>
        {{ current_user.email }} <a href="#" onclick="$('#logout_form').submit();" style="margin: 0 12px;">Sign out</a>
    </li>
{% endblock %}

{% block sidebar %}
    <ul class="nav nav-list left-nav">
        <li class="nav-header">Private Cloud</li>
        {{ render_menu_item('.dashboard', 'Dashboard') }}
        {{ render_menu_item('.edit_preferences', 'My Account') }}
        {{ render_menu_item('.payment_history', 'Payment History')}}
        {{ render_menu_item('.contact_us', 'Contact Us') }}
    </ul>
{% endblock %}
