{% extends "public.html" %}

{% block title %} Sign In {% endblock %}

{% from "_formhelpers.html" import render_field, submit_button %}

{% block content %}
    <div class="row">
        <div class="span12 page-block text-center">
            <h1>Sign In</h1>
        </div>
        <div class="span7 offset5 page-block">
            <form action="" method="post" name="login">
                {{ form.hidden_tag() }}
                <p>
                    {{ render_field(form.email) }}
                    {{ render_field(form.password) }}
                </p>
                {{ submit_button("Sign In") }}
            </form>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
            $('#email').focus();
        });
    </script>
{% endblock %}
