{% extends "public.html" %}
{% from "_formhelpers.html" import render_field, submit_button %}

{% block title %}Sign In | AeroFS Private Cloud{% endblock %}

{% block additional_nav_pills %}
    <li>
        <a class="btn btn-default btn-special" href="http://www.aerofs.com/signup-continue/">Sign up</a>
    </li>
{% endblock %}

{% block content %}
    <div id="login-container" class="col-sm-6 col-sm-offset-3">
        <h1>Sign in to Your Private Cloud Account</h1>
        <form role="form" class="full-width-form" action="" method="post" name="login">
            {{ form.hidden_tag() }}
            {{ render_field(form.email, autofocus=true, with_label=false, type="email") }}
            {{ render_field(form.password, with_label=false, type="password") }}
            {{ submit_button("Finish", horizontal=false) }}
            <p><a href="{{ url_for('.start_password_reset') }}">Forgot your password?</a></p>
            <p><a href="https://hybrid.aerofs.com/login">Looking for AeroFS Hybrid Cloud?</a></p>
        </form>
    </div>
{% endblock %}
