{% extends "public.html" %}

{% block title %} Sign In {% endblock %}

{% from "_formhelpers.html" import render_field, submit_button %}

{% block content %}
    <div class="offset1">
        <h1>Sign In</h1>

        <form action="" method="post" name="login">
            {{ form.hidden_tag() }}
            {{ render_field(form.email) }}
            {{ render_field(form.password) }}
            {{ submit_button("Sign In") }}
        </form>
        <p><a href="{{ url_for('.start_password_reset') }}">Forgot your password?</a></p>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#email').focus();
        });
    </script>
{% endblock %}
