{% extends 'public.html' %}
{% from "_formhelpers.html" import render_field, submit_button %}

{% block title %}Reset Password | AeroFS Private Cloud{% endblock %}

{% block content %}
    <div id="password-reset-container" class="col-sm-6 col-sm-offset-3 full-width-form">
        <h1>Reset Password</h1>
        <p>
            Please enter the email address you use with AeroFS. You will receive an
            email with a link to reset your password.
        </p>
        <form role="form" action="" method="post" name="password-reset">
            {{ form.hidden_tag() }}
            {{ render_field(form.email, with_label=false, autofocus=true, type="email") }}
            {{ submit_button("Send Email", horizontal=false) }}
        </form>
    </div>
{% endblock %}
