{% extends 'public.html' %}

{% block title %}Password Reset Requested | AeroFS Private Cloud{% endblock %}

{% block content %}
    <div id="password-reset-requested-container" class="col-sm-6 col-sm-offset-3">
        <h1 class="password-reset-requested-container__heading">Password Reset Requested</h1>
        <p class="password-reset-requested-container__body">
            Your password reset request has been received and processed. You should receive
            an email with a link to reset your password.
        </p>
        <p>
            The link will expire in one hour.
        </p>
    </div>
{% endblock %}
