{% extends 'public.html' %}

{% block title %}Password Reset Requested | AeroFS Private Cloud{% endblock %}

{% block content %}
    <div id="password-reset-requested-container">
        <div class="text-center col-sm-8">
            <h1 class="password-reset-requested-container__heading">Password Reset Requested</h1>
            <p class="password-reset-requested-container__body">
                Your password reset request has been received and processed. You should receive
                an email with a link to reset your password. The link will expire in one hour.
            </p>
        </div>
        <div class="col-sm-2"></div>
    </div>
{% endblock %}
