{% extends "admin.html" %}

{% block title %}Paying Accounts | Licensing Admin{% endblock %}

{% block content %}
    <h1>Paying Accounts</h1>
    <p>Total paid seats: {{ total_paid_seats }}</p>
    <br/>
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Seats</th>
            <th>Expiry</th>
            <th>Admins</th>
            <th>Actions</th>
        </tr>
        {% for row in rows %}
            <tr>
                <td><a href="{{ url_for('.customer_actions', org_id=row.customer.id) }}">{{ row.customer.name }}</a></td>
                <td>{{ row.license.seats }}</td>
                <td>{{ row.license.expiry_date.strftime('%x') }}</td>
                <td>{% for admin in row.customer.admins.all() %}{{ admin.email }}<br>{% endfor %}</td>
                <td><a href="{{ url_for('.customer_actions', org_id=row.customer.id) }}">New license</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
