{% extends "logged_in.html" %}

{% block title %}Payment History | AeroFS Private Cloud{% endblock %}

{% block content %}
<div class="row">
    <h2>Payment History</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Receipt #</th>
                <th>Amount ($)</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% if charges %}
            {% for charge in charges %}
            <tr>
                <td><a href="{{ url_for('.receipt', id=charge.id) }}" target="_blank">{{ charge.receipt_number }}</a></td>
                <td><p>{{ (charge.amount / 100)  | format_currency }}</p></td>
                <td>{{ charge.created | timestamp_to_date | date }} </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}
