{% extends "logged_in.html" %}
{% from "_formhelpers.html" import render_field, submit_button, render_disabled_field %}

{% block title %}My Account | AeroFS Private Cloud{% endblock %}

{% block content %}
    <h1>My Account</h1>
    <div class="row">
        <div class="full-width-form logged-in col-sm-6">
            <form role="form" class="" action="" method="post" name="prefs">
                {{ form.hidden_tag() }}
                {{ render_field(form.customer_name, type="text", class="form-control") }}
                {{ render_field(form.first_name, type="text", class="form-control") }}
                {{ render_field(form.last_name, type="text", class="form-control") }}
                {{ submit_button("Save changes", horizontal=false) }}
            </form>

            <br>
            <div>
                <a href="#" data-toggle="modal" data-target="#deactivateAdminAccount">Deactivate Account</a>
            </div>

        <div class="modal fade" id="deactivateAdminAccount" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Warning</h4>
              </div>
              <div class="modal-body">
                <p>You are about to delete your account. Once your account is deleted, you
                    will no longer be able to log into your Private Cloud Dashboard.</p>
                <p>Are you sure you want to delete your account?</p>
              </div>
              <div class="modal-footer">
                  <div style="width:500px;">
                    <div style="float: right; width:65px">
                      <form action="{{ url_for('.deactivate_admin_account') }}" method="post">
                          {{ form.hidden_tag() }}
                          <button type="submit" class="btn btn-warning">Deactivate</button>
                      </form>
                    </div>
                    <div style="float: left; width:430px">
                      <form action="{{ url_for('.edit_preferences') }}" method="post">
                          {{ form.hidden_tag() }}
                          <button style="background-color: white; color: darkblue; border: 1pt ridge darkblue"
                                type="submit" class="btn btn-plain" data-dismiss="modal">Cancel</button>
                      </form>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>


        </div>
    </div>
{% endblock %}
