{% extends 'base.html' %}

{% set marketing_url="http://www.aerofs.com" %}

{% block footer_links %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-12" id="footer-span">
                    <ul class="list-inline">
                        <li><a href="{{ marketing_url }}/about">About</a></li>
                        <li><a href="{{ marketing_url }}/press">Press</a></li>
                        <li><a href="{{ marketing_url }}/blog">Blog</a></li>
                        <li><a href="http://www.twitter.com/aerofs">Twitter</a></li>
                        <li><a href="{{ marketing_url }}/careers">Careers</a></li>
                        <li><a href="{{ marketing_url }}/terms">Terms</a></li>
                        <li><a href="http://support.aerofs.com">Support</a></li>
                        <li class="pull-right">&copy; Air Computing Inc. 2015</li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
