{% extends 'admin.html' %}
{% from "_formhelpers.html" import render_field, submit_button %}

{% block title %}Release new appliance images{% endblock %}

{% block content %}
<h1>Release new appliance images</h1>
    <p>The currently-available appliance is version {{ current_version }}.</p>
    <p>Download links:<p>
    <ul>
        <li><a href="{{ ova_url }}">OVA (Virtualbox, VMware)</a></li>
        <li><a href="{{ qcow_url }}">QCOW2 (OpenStack, EC2, KVM, Azure)</a></li>
    </ul>
    <p>To release a newer appliance, make sure the images are in
the aerofs.privatecloud S3 bucket with public ACLs and filenames
<code>aerofs-appliance-&lt;version&gt;.ova</code> and
<code>aerofs-appliance-&lt;version&gt;.qcow2.gz</code></p>

    <form role="form" class="form-horizontal" action="" method="post">
        {{ form.hidden_tag() }}
        {{ render_field(form.release_version, autofocus=true) }}
        {{ submit_button("Release new appliance") }}
    </form>

{% endblock %}
