{% extends "public.html" %}
{% from "_formhelpers.html" import render_field, submit_button %}

{% block title %} Sign up for AeroFS Private Cloud {% endblock %}

{% block content %}
<div class="header"><h1>Sign up for AeroFS Private Cloud</h1></div>
<form action="" method="post" name="login">
    {{form.hidden_tag()}}
    <p>
        {{ render_field(form.email) }}
        {{ render_field(form.first_name) }}
        {{ render_field(form.last_name) }}
        {{ render_field(form.company_name) }}
        {{ render_field(form.phone_number) }}
        {{ render_field(form.job_title) }}
        {{ render_field(form.accept_eula) }}
    </p>
    {{ submit_button("Sign Up") }}
</form>
{% endblock %}

