{% extends "public.html" %}
{% from "_formhelpers.html" import render_field, submit_button, eula_notice %}

{% block title %}Sign Up For The AeroFS Private Cloud{% endblock %}

{% block content %}
    <h1>Sign Up For The AeroFS Private Cloud</h1>
    <form class="form-horizontal" action="" method="post" name="login">
        {{ form.hidden_tag() }}
        {{ render_field(form.email) }}
        {{ render_field(form.first_name) }}
        {{ render_field(form.last_name) }}
        {{ render_field(form.company_name) }}
        {{ render_field(form.phone_number) }}
        {{ render_field(form.job_title) }}
        {{ eula_notice() }}

        {# We need to wrap the submit button with those divs because it's an horizontal form #}
        <div class="control-group">
            <div class="controls">
                {{ submit_button("Sign Up") }}
            </div>
        </div>
    </form>
{% endblock %}

