{% extends "public.html" %}
{% from "_formhelpers.html" import render_field, submit_button, eula_notice %}

{% block title %}Request Signup | AeroFS Private Cloud{% endblock %}

{% block content %}
    <h1>Sign Up For The AeroFS Private Cloud</h1>
    <form class="form-horizontal" action="" method="post" name="login">
        {{ form.hidden_tag() }}
        {{ render_field(form.email, autofocus=true) }}
        {{ render_field(form.first_name, type="text") }}
        {{ render_field(form.last_name, type="text") }}
        {{ render_field(form.company_name, type="text") }}
        {{ render_field(form.job_title, type="text") }}
        {{ render_field(form.phone_number, type="phone") }}
        {{ eula_notice() }}

        {{ submit_button("Sign Up", horizontal=True) }}
    </form>
{% endblock %}

