<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) Air Computing Inc., 2013.
  -->

<!--
  ~ Staging logging configuration for client programs.
  ~
  ~ This requires some properties from the Context (or elsewhere):
  ~         RTROOT
  ~         PROGNAME
  ~         LOGLEVEL (must be a valid log level)
  ~
  ~ This enables file and console logging.
  -->
<!-- TODO(jP): Consider using an included file to avoid duplicating file config
  ~            in staging and production?
  -->
<configuration>
    <conversionRule conversionWord = "aeroex"
                    converterClass = "com.aerofs.lib.ExceptionConverter"/>
    <property       name  = "logPattern"
                    value = "%d{HHmmss.SSS}%-0.1p %thread @%c{1}, %m%n%aeroex"/>

    <appender name="LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${RTROOT}/${PROGNAME}.log</File>
        <Append>true</Append>
        <encoder>
            <pattern>%d{HHmmss.SSS}%-0.1p %thread @%c{1}, %m%n%aeroex</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${RTROOT}/${PROGNAME}.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>5</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${logPattern}</pattern>
        </encoder>
    </appender>

    <root level="${LOGLEVEL}">
        <appender-ref ref="LOGFILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
