<component name="libraryTable">
  <library name="logback-classic-1.0.10">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../../resource/client/common/lib/logback-classic-1.0.10.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../resource/client/common/lib/logback-core-1.0.10.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>