#!/usr/bin/env xdg-open

[Desktop Entry]
Name=[AEROFS_PRODUCT]
Comment=Secure File Sync
TryExec=[AEROFS_PRODUCT_UNIX]
Exec=[AEROFS_PRODUCT_UNIX] %U
StartupNotify=false
Terminal=false
Type=Application
Icon=[AEROFS_PRODUCT_UNIX]
Categories=Application;Network;FileTransfer;
