# When changing this file, update requirements-exact.txt as well:
# virtualenv env
# env/bin/pip install -r requirements.txt
# env/bin/pip freeze > requirements-exact.txt
# Our explicit deps:
Flask
CherryPy
# Hoisted from aerofs-licensing:
pygpgme
