<div class="col-sm-12">
    <div class="row" style="padding-bottom: 10px;">
        <div class="col-sm-2">
            <strong>{{group.name}}</strong>
            <span ng-if="isAdmin && group.is_externally_managed" data-toggle="tooltip"
                tooltip="This group comes from your organization's LDAP server."
                class="admin_label label">LDAP</span>
        </div>
        <div class="col-sm-8">
            <span ng-show="group.members.length === 0">No members</span>
            <span ng-hide="group.members.length === 0">
                {{group.members|memberFilter}}
            </span>
            <a title="Show/hide all members"
                ng-click="group.showAll = !!!group.showAll"
                ng-show="group.members.length > 3">and {{ group.members.length - 3 }} more...</a>
        </div>
        <div class="col-sm-2">
            <div ng-if="isAdmin && !group.is_externally_managed" class="btn-group pull-right actions">
                <button type="button" class="btn btn-plain dropdown-toggle" data-toggle="dropdown">
                Actions <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li><a ng-click="edit(group)">Edit</a></li>
                    <li><a ng-click="delete(group)">Delete</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-10 col-sm-offset-2"
            ng-show="group.showAll">
                <strong>Members</strong>
                <div class="member-list">
                    <div ng-repeat="member in group.members">
                        {{member.email}}
                    </div>
                </div>
        </div>
    </div>
</div>
