<?xml version="1.0" encoding="UTF-8"?>

<web-app metadata-complete="true">
  <absolute-ordering />

  <!-- To enforce serializable sessions. -->
  <distributable/>

  <!-- Initialization listener -->
  <listener>
    <listener-class>com.aerofs.sp.server.listeners.SPLifecycleListener</listener-class>
  </listener>

  <!-- Servlets -->
  <servlet>
    <servlet-name>ServletSP</servlet-name>
    <servlet-class>com.aerofs.sp.server.SPServlet</servlet-class>
  </servlet>

  <!-- URL mapping -->
  <servlet-mapping>
    <servlet-name>ServletSP</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>
