@import "includes/bootstrap/bootstrap.less";
@import "includes/aerofs-variables.less";

// We use h4 for modal titles. A normal font weight is not pretty for titles.
h4 {
  font-weight:600;
}

////////
// Make the footer stick to the bottom

@footerHeight: 4em;
@footerPaddingTop: 10px;

.border-radius(@radius) {
  .border-top-radius(@radius);
  .border-right-radius(@radius);
  .border-bottom-radius(@radius);
  .border-left-radius(@radius);
}

html, body {
  height: 100%;
}

h1, h4 {
  margin-bottom: @line-height-computed;
}

label {
  font-weight: normal;
}

#wrapper {
  min-height: 100%;
  margin-bottom: -@footerHeight;
}

#footer-push {
  // Add extra height to leave a decent margin between the bottom of main body
  // and footer.
  height: @footerHeight + 2em;
}

footer {
  margin-top: @standard-padding;
  height: @footerHeight;
  color: @gray-light;
  font-size: 85%;
}

// Also see #top-nav-span
#footer-span {
  border-top: @headerFooterSeparator;
  padding-top: @footerPaddingTop;
}

////////
// Page layout

@headerFooterSeparator: 1px solid #e5e5e5;

@blockSeparator: 1px solid #d3d3d3;

.top-divider {
  border-top: @blockSeparator;
}

.bottom-divider {
  border-bottom: @blockSeparator;
}

.page-block + .page-block {
  margin-top: 30px;
}

.page-block h2, h2 {
  line-height: 24.75pt;
  margin: 0 0 1em 0;
}

.page-headline-banner {
  padding-bottom: 40px;
  .bottom-divider;
}

////////
// Nav bars

// Also see #footer-span
#top-nav-span {
  // Add a light-grey line under the top nav bar.
  border-bottom: @headerFooterSeparator;
}

.top-nav {
  // Undo the large bottom margin for the top nav bar.
  margin-bottom: inherit;
  padding: 8px 0 0;
  min-height: 68px;

  .dropdown-menu {
    font-size: 11pt;
  }
}

.top-nav > li + li, .top-nav .btn-group {
  // Pull down all but the first item (i.e. the logo) in the top nav bar
  margin-top: 19px;
  font-weight: 700;
  font-size: 18px;
}

.top-nav .btn-group {
  margin-left: 8px;
}

/* hack to get around limitations of bootstrap navbar styles and
how our templates inherit the top nav */
@media (max-width: 1200px) {
  .nav .marketing-link {
    display: none;
  }

  .nav .dropdown-menu .marketing-link {
    display: block;
  }
}

.top-nav-wrapper {
  margin-bottom: @standard-padding;
}

.breadcrumb {
  padding-top: 0;
}

// Override Bootstrap's style for active navigation items
.left-nav > .active > a,
.left-nav > .active > a:hover {
  background: transparent;
  text-shadow: none;
  font-weight: bold;
  color: @link-hover-color;
}

.nav-header {
  font-weight: 400;
  font-size: .9em;
  padding: 4px 0 2px 15px;
  background: #EEE;
  color: #999;
  text-shadow: 0 1px 0 rgba(255,255,255, 0.5);
  text-transform: uppercase;
}

.nav > li > a, .nav ul li a {
  display: block;
  padding: 3px 15px;
}

// Override Bootstrap's @gray-lighter background color
.nav > li > a:hover,
.nav > li > a:focus {
  background-color: inherit;
}

.left-nav ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 9px;
}

// Override Bootstrap's grey background defined for .nav > li > a:hover/focus
// '#' instead of '.' is needed for overriding to work (since ids are more
// specific than classes).
#nav-btn-sign-up {
  // Values of the last two parameters are copied from Bootstrap's .btn style.
  .button-variant(@btn-primary-color, @btn-primary-bg, @btn-primary-border);
}

.side-bar-accordion .accordion-toggle {
  font-weight: bold;
  color: #555;
}

.accordion-down-arrow {
  color: #d3d3d3;
}

.media-bulletin .media {
  margin-top: 40px;
}
.media-bulletin .media + .media {
  .top-divider;
  padding-top: 40px;
}
.media-bulletin ul, .media-bulletin p {
  // to make space between title and bulletin points
  margin-top: 10px;
}
.media-bulletin li {
  margin-left: -6px;
}
.media-bulletin li + li {
  margin-top: 10px;
}
.media-bulletin img.pull-right + .media-body {
  padding-right: 10px;
}
.media-bulletin img.pull-left + .media-body {
  // slightly bigger than the above padding for "img.pull-right + .media-body",
  // since the right side of a text block is not justified, giving the
  // impression of a larger padding than the left side of the text.
  padding-left: 15px;
}

////////
// Thumbnails

.thumbnail {
  background-color: white;
}

ul.big-thumbnails .thumbnail {
  .border-radius(@border-radius-large);
  padding-left: 15px;
  padding-right: 15px;
}

ul.big-thumbnails .thumbnail h4 {
  text-align: center;
}

////////
// Forms

// The default form position is 'fixed'. For very long forms users may need to
// scroll down the page to reveal the bottom part of the form. But ideally we
// shouldn't have very long forms.
.absolute-form {
    position: absolute;
}

div.input_container {
    margin-top: 10px;
}

div.input_container label input {
    display: inline;
}

div.input_container input {
    margin: 0 auto;
}

div.input_container a.btn {
    margin: 0 auto;
}

div.input_container.submit {
    margin-top: 25px;
}

div.jumbo_banner {
    margin-top: 8em;
    text-align: center;
}

div.jumbo_banner > h2 {
    margin: 0 auto;   // for center alignment
}

.invitation_title {
    color: @base02;
    font-size: 120%;
}

.footnote {
  color: #777777;
  font-size: 80%;
}

////////
// Icons

// To correct the vertical mis-alignment for icons
.vertical-align-fix() {
  vertical-align: -2px;
}

.icon-vertical-align-fix {
  .vertical-align-fix();
}

[class^="icon-"],
[class*=" icon-"] {
  .vertical-align-fix();
}

.sf-actions .icon img, .sf-actions .icon svg {
  margin-top: -.2em;
  height: 1.3em;
  display: inline;
}
.sf-actions .icon path {
  fill: #333;
}

// Copied from mixins.less
.ie7-restore-right-whitespace() {
  *margin-right: .3em;
}

[class^="aerofs-icon-"],
[class*=" aerofs-icon-"] {
  // The following is copied from sprites.less. Ideally we should inherit styles
  // and avoid code duplication.
  display: inline-block;
  width: 14px;
  height: 14px;
  .ie7-restore-right-whitespace();
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("@{aerofsIconSpritePath}");
  background-position: 14px 14px;
  background-repeat: no-repeat;

  // This must be at the end of the style otherwise it would be overwritten by
  // the above vertical-align
  .vertical-align-fix();
}

.aerofs-icon-osx              { background-position: 0      0; }
.aerofs-icon-windows          { background-position: -24px  0; }
.aerofs-icon-linux            { background-position: -48px  0; }
.aerofs-icon-android          { background-position: -72px  0; }
.aerofs-icon-earphone         { background-position: -96px  0; }
.aerofs-icon-twitter          { background-position: -120px  0; }

// Use smaller fonts for labels, and push labels away from main text (assuming
// labels are always to the right of text).
.label {
  font-size: 70%;
  margin-left: 7px;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #999;
}

////////
// Datatables

.datatable_body {
  margin-bottom: 15px;
  tbody > tr > td {
    vertical-align: middle;
  }
}

.dataTables_paginate ul {
  padding: 0;
  a {
    .btn();
    .btn-sm();
    .btn-default();
  }

  .prev a {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: -1px;
  }

  .next a {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .disabled a {
    .btn.disabled();
  }
}

// Force dataTables info text (e.g. "1-10 of 100") stay close to pagination
// buttons. The sDom parameter must place the text _after_ pagination,
// e.g. "<'col-sm-3'pi>". See invocations to dataTable() in shared_folder.mako,
// org_users.mako, etc for examples.
.dataTables_info {
  display: inline;
  float: right;
  margin-right: 10px;
}

.pagination ul {
  list-style-type: none;
  li {
    display: inline-block;
  }
}

////////
// Misc

img.screenshot {
  .img-rounded;
  .img-bordered;
}

.full_name {
  font-weight: bold;
}

blockquote {
  border-left-color: darken(@bodyBackground, 10%);
}

// override Bootstrap's <hr> style which always use @white for border-bottom
hr {
  border-bottom: 1px solid @hrBorder;
}

.accordion-group {
  background-color: white;
}

// Override Bootstrap's red
code {
  color: @codeColor;
}

.img-bordered {
  border: 1px solid @gray-light;
}

.sign-up-text-highlight {
  color: @green;
  font-weight: bold;
}

// This is for .arch-legend's absolute position to work
.arch-container {
  position: relative;
}
.arch-legend {
  position: absolute;
  font-size: 90%;
  color: dimgrey;
}
div.arch-image {
    margin: 0 auto 15px;
}

#modal {
  .modal-body {
    min-height: 200px;
  }
  .dropdown-menu {
      min-width: inherit;
  }
  .modal-footer .form-inline {
      margin-bottom: 0;
  }
}
.spinner {
    display: inline;
}

#splash {
  #splash-img {
    margin-bottom: 20px;
  }
}

.tutorial img {
  background: #eee;
  padding: 12px;
}
#modal-user-role-table .pending {
  color: #999;
  background: #eee;
}
// Login page
.login {
  h1 {
    text-align: center;
    color: @base02;
  }

  .openid-login {
    .btn {
      width: 100%;
    }
    .login-divider {
      border-top: 1px solid #d3d3d3;
      margin-top: 60px; 
      margin-bottom: 40px;
    }
    span {
      color: #a0a0a0; 
      background-color: #e7eef3; 
      display: block; 
      text-align: center; 
      margin: -12px auto 0 auto; 
      width: 50px;
    }
  }
}

// borderless "button" styling, used on Shared Folders and My Files
.btn-plain, .btn-plain:active, .btn-group.open .dropdown-toggle.btn-plain {
    background: none;
    box-shadow: none;
}
