/* Variables */
@blue: #4BAFEE;
@ltblue: #aad3e9;
@medblue: #358ac3;
@darkblue: #0E6190;
@darkestblue: #0A2C49;
@haze: rgba(255,255,255,.8);
@gold: #fdd251;
@oatmeal: #f9f9f9;
@darkoats: #e7e7e7;

@navheight: 50px;
@signupformbuttonwidth: 160px;
@navindex: 500;

/* Mixins */
// Default font size and weight
.standardtext {
    font: 400 16px/24px 'Open Sans';
    color: #878787;
}
/* Mixin: Inside a div have an image vertically and horizontally centered
   Height determines the height of the image
   Multiplier determines padding amount as a function of height */
.absolute-center(@height, @multiplier: 3) {
  height: @height * @multiplier;
  width: 100%;
  position: relative;
  img {
    height: @height;
    width: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  }
}
/* Mixin: used for signup button and free trial button */
.gold-button {
    background-color: @gold;
    border-color: darken(@gold, 20%);
    color: #000;
    font-weight: 600;
    &:hover {
        background-color: lighten(@gold, 7%);
    }
    &:active {
        border-color: @gold;
        background-color: darken(@gold, 10%);
    }
}

/* Mixin */
.link-with-arrow {
  &:after {
        content: ' »'
    }
}

/* Default styles for blog on marketing site */
.blogpost {
  .standardtext();
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'san-serif';
  font-size: 16px;
  color: #777;
  padding-top: @navheight;
  h1 {
    font: 300 36px/48px 'Open Sans';
    color: #000;
    }

  h2 {
  font: 400 24px/30px 'Open Sans';
  color: #000; }

  h3 {
  font: 400 18px/30px 'Open Sans';
  color: #333; }

  h4 {
  font: 400 16px/24px 'Open Sans';
  color: #AAA; }

  p {
  color: #000;
  }

  blockquote {
    font-size: 14px;
  }

}
/* Default styles for elements on entire marketing site */
body {
  .standardtext();
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', 'san-serif';
  font-size: 16px;
  color: #777; 
  padding-top: @navheight;
  h1 {
    font: 300 48px/70px 'Open Sans';
    letter-spacing: -2px;
    color: #000;
    }
  h2 {
    font: 300 36px/48px 'Open Sans';
    color: #000;
    }

  h3 {
  font: 400 24px/30px 'Open Sans';
  color: #000; }

  h4 {
  font: 400 18px/30px 'Open Sans';
  color: #333; }

  h5 {
  font: 400 16px/24px 'Open Sans';
  color: #AAA; }

  strong {
    color: black;
  }

  input {
  color: #999999; }

  ul {
  color: #878787; }

  li {
    color: #000;
    text-align: left; 
    p {
      line-height: 157%;
      display: inline-block;
      vertical-align: text-top;
      color: #878787;
    }
  }

  hr {
    border-top: 1pt solid @ltblue;
    border-bottom: 0;
  }

  article {
    margin: 0;
    padding: @navheight 0;
  }

  dl {
    dt {
      color: black;
    }
    dd + dt {
      margin-top: 1em;
    }
    dd {
      margin-left: 12px;
    }
  }

  /* form styles */
  .form label, .form input, .form textarea {
    font: 400 18px/30px 'Open Sans'; }

    a:not(.btn) {
    color: #3394c9;
    }
    a:not(.btn):active, a:not(.btn):hover {
      color: @darkblue;
      text-decoration: none; }

  /* On pages where articles alternate colors */
  .wrapper {
    .zebra:nth-child(even), .zebra-reversed:nth-child(even) {
      background-color: #f7f7f7;
    }
  }
  .zebra-reversed {
    .img-wrapper {
      img {
        max-width: 100%;
        width: auto;
      }
    }
  }

  footer {
      height: 100%;
      background: @darkestblue;
      color: @ltblue;
      margin-top: 0;
      padding: @navheight / 2 0;
      font-size: 85%;
      h4, h4 a:not(.btn) {
          color: @medblue;
      }
      a:not(.btn) {
          color: white;
          &:hover {
              color: @gold;
          }
      }
      ul {
          padding: 0;
          li {
              list-style-type: none;
          }
      }

      hr {
        border-top: 1pt solid @darkblue;
      }
  }

  .btn {
    .standardtext();
    &:not(.btn-lg) {
      height: 38px;
    }
    &:not(.btn-default) {
      color: white;
    }
  }

  /* killall Bootstrap rounded corners */
  .btn, input, .form-control {
    border-radius: 0;
  }
}

body .gold-button {
  .gold-button();
}

/* Navbar-related styling */
.wrapper {
  width: 100%;
}
.main-navigation {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: @navindex;
}
.main-navigation, .submenu {
  box-shadow: 0px 0px 4px rgba(0,0,0,.5);
}
.navbar {
  background: white;
  border-color: transparent;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  margin-right: 0;
  z-index: @navindex;

  .btn {
    margin: 8px 0 8px 15px;
  }
  .navbar-collapse.in {
    ul:not(.hidden-xs) {
        border-bottom: 2pt solid @darkoats;
        &:last-of-type {
            border-bottom: none;
        }
        a:hover {
            background: @oatmeal;
        }
    }
  }
}
.navbar-default .navbar-nav li a, .submenu li a {
    color: @darkblue;
    padding: 15px 15px;
    &:hover {
        color: @darkestblue;
    }
}

.submenu {
  height: @navheight;
  background: @ltblue;
  position: absolute;
  top: @navheight;
  left: 0;
  width: 100%;
  display: none;
  z-index: @navindex - 1;
  ul {
    display: none;
    padding: 0;
    li {
      display: inline-block;
      list-style-type: none;
      padding: 0;
      margin: 0;
      a {
        display: inline-block;
        padding: 13px 15px;
        &:hover {
            background: @haze;
          }
      }
    }
  }
}

/* Applies to col-sm, but not smaller or larger*/
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-default .navbar-nav li a, .submenu li a {
        padding-left: 10px;
        padding-right: 10px;
    }
    .submenu ul li a {
      font-size: 14px;
      padding-left: 8px;
      padding-right: 8px;
    }
}

.logo img {
  height: @navheight - 5;
  padding: 10px 15px 5px 0;
  margin: 0;
}
.top-header {
  padding: @navheight/2 0;
  background: @darkblue;
  h1 {
    letter-spacing: -2px;
    color: white;
    font: 600 60px/120% 'Open Sans';
    text-align: center;
    span {
      font-weight: 400;
    }
  }
  h3 {
    font-size: 32px;
    font-weight: 300;
    margin-top: 15px;
    letter-spacing: -1px; 
    line-height: 1.5;
  }
  h3, h4 {
    color: @darkoats;
    text-align: center;
  }

  &.front-page h1 {
    text-align: right;
  }
  &.front-page h3 {
    text-align: right;
  }

  h4 {
    font: 400 18px/30px 'Open Sans';
    height: auto;
  }
  .video-player {
    width: 100%;
    margin: 40px 0 0 0;
    border: 2px solid @darkoats;
    h4 {
        color: @oatmeal;
    }
    .play-button {
      width: 70px;
      height: 70px;
      cursor: pointer;
      display: block;
      margin: 15px auto 0 auto;
      background: url('../../images/player_play.png') no-repeat center;
      -webkit-background-size: cover;
      background-size: cover;
    }
  }
}

/* Signup form styles */
.signup-form-container {
    background: @darkestblue;
    margin-bottom: @navheight / 2;
    padding: @navheight / 2 0;

    span {
      color: @medblue;
      a {
        .link-with-arrow();
        color: @medblue;
        &:hover {
          color: @gold;
        }
      }
    }

    .try-out {
      text-align: right;
      color: white;
      margin-top:10px;
    }

    &.bottom-signup {
        margin-bottom: 0;
        background: @darkblue url('../../images/fog-background.png') bottom repeat;
        border-top: 1pt solid @medblue;
        border-bottom: 1pt solid @medblue;
        span:not(.try-out) {
          color: @darkestblue;
          a {
            color: @darkestblue;
            &:hover {
              color: @gold;
            }
          }
        }
    }

    .signup-form {
        width: 100%;

        input, button {
            font: 300 18px/30px 'Open Sans';
            height: auto;
        }

        input {
            border-color: darken(@blue, 20%);
            color: black;
            width: 72%;
        }

        button {
            .gold-button();
            font-weight: 600;
            width: 25%;
        }
    }
}

/* Special styling for private mobileiron and cloud sections */
.mobileiron, .cloud {
    padding-top: @navheight;
    padding-bottom: 0;
    overflow: hidden;
    .wrapper {
        background: @oatmeal;
    }

    img {
        margin-top: -@navheight;
        -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    }
    .img-wrapper {
        background-color: @blue;
        width: 1071px;
        height: 545px;
        position: absolute;
        top: -@navheight;
        left: 60px;
        background: url('../../images/mobileiron-devices.png') no-repeat center;
    }
}
/* Special styling for private cloud frontpage section*/
.cloud {
    .img-wrapper {
        background: url('../../images/private_cloud_img_large.png') no-repeat center;
    }
}

/* Special styles for pricing section */
.plan-select {
    a:not(.btn) {
      padding-top: 7px;
    }
    h4 {
        color: #aaa;
    }
    .phone {
        font-weight: 600;
        color: #666;
    }
    .pricing {
        h2, h3, h4 {
            margin: 0;
            padding: 0 12px;
        }
        h2 {
            line-height: 48px;
            color: white;
        }
        h3 {
            font: 600 42px/60px 'Open Sans';
            background: @darkblue;
            color: white;
            margin-bottom: 0;
            margin-top: .5em;
            min-height: 60px;
        }
        h4 {
            color: @haze;
            padding-top: 10px;
        }
        header {
            background: @darkestblue;
            button {
              width: 100%;
            }
        }
        .btn {
          background-color: @darkblue;
          &:hover {
            background-color: @medblue;
          }
        }
        .btn.yellow {
            .gold-button();

            h2 {
              color: #000;
            }
        }
    }
    .price-tag {
        &:before, &:after {
            font: 300 30px/30px 'Open Sans';
        }
        &:before {
          content: '$';
        }
        &:after {
          position: relative;
          display: inline-block;
          content: '/user/mo'; 
        }
    }
    table {
        width: 100%;
        td {
            padding: 11px 0;
        }

        .try-me {
            padding-top: 11px;
            border-top: 1pt solid @darkblue;
            border-bottom: 1pt solid @darkblue;
        }
    }
}

.table-striped-reverse {
  > tbody > tr:nth-child(even) {
    > td,
    > th {
      background-color: @oatmeal;
    }
  }
}

.developers {
  .how-it-works li {
    .standardtext();
    height: 241px / 3;
  }
}

/* Applies to col-sm, but not smaller or larger*/
@media (min-width: 768px) and (max-width: 991px) {
    .plan-select .pricing {
        h2, h3 {
            font: 600 30px/48px 'Open Sans';
        }
        h2 {
            font-weight: 300;
        }
        .price-tag {
            &:before, &:after {
                font: 300 24px/48px 'Open Sans';
            }
        }
    }
}

.blurb-logo {
  .absolute-center(100px, 1.5);
}

/* Special styles for press summary and customer testimonials sections */

/* Special styling for private cloud frontpage section*/
.simple-use {
    overflow: hidden;
    .img-wrapper {
        width: 1071px;
        height: 545px;
        position: absolute;
        top: -@navheight;
        left: 60px;
        background: url('../../images/product_simple_use_big.png') no-repeat center;
    }
}
.simple-home { 
    background: @oatmeal;
}

.blurb, .caption p {
      font-size: 10pt;
}
.customers {
  .blurb-logo {
        background: @darkoats;
        .absolute-center(40px);
    }

    .caption h4 {
        .standardtext();
        text-align: right;
        margin-bottom: 2em;
        &:before {
            content: '— '; 
        }
    }
}

/* Special blurb logo for about page*/
.the-team .blurb-logo, .investors .blurb-logo {
    .absolute-center(120px, 1);
}

/* Special styles for customer stats section */
.customer-stats {
    background: @oatmeal;
    h1 {
        margin-bottom: 6px;
    }
}

/* Special styles on careers page */
.careers {
  table {
    width: 100%;
    border-top: 1pt solid @ltblue;
    border-bottom: 1pt solid @ltblue;
    a {
      .link-with-arrow();
      display: block;
      width: 100%;
      padding: 12px 6px 12px 12px;
    }
  }
}

.landing-page {
  ul {
    margin-top: 12px;
    li {
      color: white;
    }
  }
  .landing-page-form {
    background: @gold;
    padding: 12px;
    color: black;
    h3 {
      color: black;
    }
    input {
      margin-bottom: 12px;
    }
    .password input {
      margin-bottom: 6px;
    }
  }
  .small-press {
    background: #2794cb;
    color: white;
  }
}
/* Social icons related styles (in footer) */
.social {
    margin-right: 6px;
    span {
        display: inline-block;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center; 
        -webkit-background-size: cover;
        background-size: cover;
        &.facebook {
            background-image: url('../../images/facebook_share_icon.png');
            &:hover {
                background-image: url('../../images/facebook_share_icon_hover.png');
            }
        }
        &.twitter {
            background-image: url('../../images/twitter_share_icon.png');
            &:hover {
                background-image: url('../../images/twitter_share_icon_hover.png');
            }
        }
    }
}

.openstack-summit {
  background: #02143b url("../../images/vancouver-opt.png") no-repeat;
  background-size: 100%;
  min-height: 1500px;
}

.openstack-summit-header {
  background: transparent;
} 

.openstack-summit-logo {
  margin: 45px auto 0 auto;
}

.openstack-summit-signup {
  background: transparent;
  margin: 20px 0 0 0;
  padding: 0;
}

.openstack-summit-signup-wrapper {
  margin-top: 45px;
}

input#email_openstack {
  width: 70%;  
  margin-right: 10px;
  font: 300 16px/30px 'Open Sans';
}

#openstack-summit-button {
  font: 600 16px/30px 'Open Sans';
  background-color: #02143b;
  border-color: white;
  color: white;
}

#openstack-summit-button:hover {
  font: 600 16px/30px 'Open Sans';
  background-color: #02143b;
  border-color: white;
  color: white;
}

h5.openstack-summit-boilerplate {
  color: white;
  font: 300 14px/30px 'Open Sans';
  text-align: center;
}

/* Some special styles for small screens */
/* Applies to col-sm and smaller */
@media (max-width: 991px) {
  .signup-form-container {
    .signup-form {
      width: 100%;
      input {
        width: 700px - @signupformbuttonwidth;
      }
      button {
        width: @signupformbuttonwidth;
      }
    }
    .private-cloud-blurb {
      line-height: 48px;
    }
  }
}
/* Applies to col-xs */
@media (max-width: 767px) {
    .top-header:not(.landing-page), .top-header.front-page {
        h1 {
            font: 400 48px/70px 'Open Sans';
            span {
              font-weight: 300;
            }
        }
        h3 {
            font: 300 24px/30px 'Open Sans';
            text-align: center;
        }
        .video-player {
            margin: @navheight / 2 auto 0 auto;
        }
    }

    .signup-form-container .signup-form {
      margin: 0;
        input {
            width: 72%;
            display: inline;
        }
        button {
            margin-top: -5px;
            width: 25%;
        }
    }

    // Front page loses oatmeal alternation on xs
    // since press blurbs go away
    .customers {
      background: @oatmeal;
    }

    .customer-stats {
      background: transparent;
    }
}

.customer-logo {
  background: @oatmeal;
  .absolute-center(70px, 1.5);
  margin-bottom: 15px;
  margin-top: 15px;
}

@media (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
 }
