//
// This file contains styles specific to Lizard
//

#messages {
    background-color: #ffff00;
    border-bottom: 1px solid #000000;
}

h1 {
  margin-bottom: 30px;
}

// Use this on a div to removes the left sidebar
.no-sidebar {
  margin-left: -130px;
}

#dark-blue-header {
  background-color: #156290;
  margin-bottom: 20px;
  padding: 10px 0;
  color: #add5ea;
}

#dark-blue-header a {
  color: #e4f1f9;
  text-decoration: none;
}

#dark-blue-header ul {
  list-style: none;
  margin-top: 5px;
}

.btn {
  &:not(.btn-lg) {
    height: 38px;
  }
  &:not(.btn-default) {
    color: white;
  }
}