//
// This file contains styles specific to Lizard
//
@import "includes/aerofs-variables.less";

#messages {
    background-color: #ffff00;
    border-bottom: 1px solid #000000;
}

h1 {
  margin-bottom: 30px;
}

// Use this on a div to removes the left sidebar
.no-sidebar {
  margin-left: -130px;
}

#dark-blue-header {
  background-color: @aero-navyblue;
  margin-bottom: 20px;
  padding: 0;
  color: @aero-white;
  height: 90px;
}

#dark-blue-header .brand img {
  margin-top: 26px 0px 26px 15px; //To align with left nav text.
}

#dark-blue-header .navigation {
  list-style: none;
  font-weight: 600;
  line-height: 38px; //Height of button. Applies to all nav pills.
  margin: 26px 0px;
}

#dark-blue-header .navigation .sign-out {
  margin: 0 0 0 24px;
  color: @aero-white;
  text-decoration: none;
  white-space: nowrap;
  &:hover {
    color: @aero-blue
  }
}

@media screen and (max-width: 767px) {
  #dark-blue-header .navigation .email {
    display: none;
  }
}

.btn {
  &:not(.btn-lg) {
    height: 38px;
  }
  &:not(.btn-default) {
    color: white;
  }
}