#cloud-config

coreos:
  units:
    - name: 00-ci-static.network
      content: |
        [Match]
        # enp0s17 refers to the VM's first NIC. Since another interface enp0s19 is used for NAT we can't use 'en*'
        Name=enp0s17
        [Network]
        Address={{ ip_and_prefix }}
        Gateway={{ gateway }}

    # The static.network unit above adds a default route. However this interface is not in VPN and we can't use it to
    # contact servers that only allow VPN access (e.g. devmail). We delete this route and use the original one which
    # goes through VPN via the CI host. It's assumed that the new route is on the top of route table and the original
    # route goes through VPN.
    - name: delete-first-default-route.service
      command: start
      content: |
        [Unit]
        Description=Delete First Default Route
        After=systemd-networkd.service
        [Service]
        ExecStart=/usr/bin/ip route del default

    - name: modify-appliance.service
      command: start
      content: |
        [Unit]
        Description=CI appliance touch-ups
        Before=ship.service
        [Service]
        ExecStart=/modify-appliance.sh

    # signup-decoder is a Web service listening at <hostname>:21337 to return signup codes stored in mysql.
    # It's used by CI to sign up users automatically. It's a container because containers are the only thing CoreOS supports.
    - name: signup-decoder.service
      command: start
      content: |
        [Unit]
        Description=Signup Decoder
        [Service]
        ExecStart=/signup-decoder/start.sh

write_files:
  - path: /signup-decoder/start.sh
    permissions: 0755
    encoding: b64
    content: |
      {{ decoder_start_sh }}

  - path: /signup-decoder/Dockerfile
    encoding: b64
    content: |
      {{ decoder_dockerfile }}

  - path: /signup-decoder/root/decoder.py
    encoding: b64
    content: |
      {{ decoder_py }}

  - path: /modify-appliance.sh
    permissions: 0700
    encoding: b64
    content: |
      {{ modify_appliance }}

ssh_authorized_keys:
    - {{ ssh_pub }}
