.navbar .nav > li > a {
  font-size: 120%;
  font-weight: bold;
}
h3 {
  font-weight: 600;
}
div.org_input_block {
  margin-top: 30px;
}
span.required_field {
  color: #9d261d;
}
div.input_container {
  margin-top: 10px;
}
div.input_container label input {
  display: inline;
}
div.input_container input {
  margin: 0 auto;
}
div.input_container a.btn {
  margin: 0 auto;
}
div.input_container.submit {
  margin-top: 25px;
}
.nav-list > .active > a,
.nav-list > .active > a:hover {
  background: transparent;
  text-shadow: none;
  font-weight: bolder;
  color: #005580;
}
.page_block {
  margin-bottom: 30px;
}
.btn,
.btn:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn {
  line-height: 15.399999999999999pt;
}
.full_name {
  font-weight: bold;
}
.dataTables_wrapper table thead {
  display: none;
}
.datatable_body {
  margin-bottom: 15px;
}
.dataTables_info {
  display: inline;
  float: right;
  margin-right: 10px;
}
[class^="icon-"],
[class*=" icon-"] {
  vertical-align: -2px;
}
a.btn {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
a.delete_permission {
  color: #9d261d;
  text-decoration: none;
  padding-left: 8px;
}
p.sid_container {
  display: none;
}
#empty_message_bar {
  position: fixed;
  top: 0;
  padding: 8px;
  background-color: #d5d5d5;
}
#message_bar {
  position: fixed;
  top: 0;
}
div.message_container {
  cursor: pointer;
  display: none;
  z-index: 99;
}
div.flash_message {
  padding: 8px;
  text-align: center;
}
div.error_message {
  background-color: #f4c8c5;
  margin: 0 auto;
}
div.success_message {
  background-color: #adf1ad;
  margin: 0 auto;
}
div#not_authorized {
  color: #9d261d;
  margin-bottom: 10px;
}
div.jumbo_banner {
  margin-top: 8em;
  text-align: center;
}
div.jumbo_banner > h2 {
  margin: 0 auto;
}
.invitation_title {
  color: #156290;
  font-size: 120%;
}
html,
body {
  height: 100%;
}
#wrapper {
  min-height: 100%;
  margin-bottom: -4em;
}
#footer-push {
  height: 4em;
}
footer {
  height: 4em;
  color: gray;
  text-align: right;
}
