repo: {{ repo }}
push-repo: {{ push_repo }}
loader: {{ loader }}
target: maintenance
hostname: aerofs
swap-size: 4096

vm-image-name: {{ appliance }}-{{ tag }}
vm-disk-size: {{ disk-size }}
vm-ram-size: {{ ram-size }}
vm-cpus: 2
