repo: registry.aerofs.com
loader: {{ loader }}
target: maintenance

# Sizes are in MB. Set swap size to zero to disable swap.
# TODO (WW) rename to aerofs-appliance once the legacy appliance is phased out.
vm-image-name: docker-appliance-{{ tag }}
vm-host-name: aerofs
vm-disk-size: 102400
vm-ram-size: 4096
vm-swap-size: 4096
vm-cpus: 2
