repo: registry.aerofs.com
loader-image: {{ loader }}
target: maintenance

# Sizes are in MB
# TODO (WW) rename to aerofs-appliance once the legacy appliance is phased out.
vm-image-name: docker-appliance-{{ tag }}
vm-host-name: aerofs
vm-disk-size: 102400
vm-ram-size: 3072
vm-cpus: 2
