# AeroFS certificate authority configuration.
HOME                    = /dev/null
RANDFILE                = $ENV::HOME/.rnd

[ ca ]
default_ca              = AeroFS

[ AeroFS ]
dir                     = $HOME
certs                   = $dir/certs
new_certs_dir           = $dir/newcerts
crl_dir                 = $dir/crl
database                = $dir/index
certificate             = $dir/cacert.pem
serial                  = $dir/serial
crl                     = $dir/ca-crl.pem
private_key             = $dir/private/ca-key.pem
RANDFILE                = $dir/private/.rand
unique_subject          = no
default_crl_days        = 7
default_days            = 365
default_md              = sha256
preserve                = no
policy                  = policy_match
copy_extensions         = copy
x509_extensions         = client_cert

[ policy_match ]
countryName             = optional
stateOrProvinceName     = supplied
organizationName        = supplied
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = optional

[ policy_anything ]
countryName             = match
stateOrProvinceName     = match
localityName            = optional
organizationName        = match
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = supplied

[ req ]
default_bits            = 2048
default_keyfile         = ./private/ca-key.pem
default_md              = sha256
prompt                  = no
distinguished_name      = root_ca_distinguished_name
x509_extensions         = v3_ca

[ v3_ca ]
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid:always,issuer
basicConstraints        = critical,CA:TRUE
keyUsage                = cRLSign, keyCertSign

[ client_cert ]
basicConstraints        = CA:FALSE
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid,issuer

[ root_ca_distinguished_name ]
countryName             = US
stateOrProvinceName     = California
localityName            = San Francisco
0.organizationName      = aerofs.com
emailAddress            = team@aerofs.com
# XXX root_ca_distinguished_name is populated by deploy.sh,
# so please ensure that this is the last section in this file.
