<!--
  ~ Copyright (c) Air Computing Inc., 2013.
  -->

<configuration scan="true" debug="true">

    <!--
        standard logging config
    -->

    <appender name="logfile" class="ch.qos.logback.core.FileAppender">
        <file>/var/log/aerofs/devman.bootup.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-18thread] %-5level %logger{0}, %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="async" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>1000000</queueSize>
        <appender-ref ref="logfile"/>
    </appender>

    <!--
        special configuration for LastSeenTimePuller
    -->

    <logger name="com.aerofs.devman.server.VerkehrPuller" level="DEBUG"/>
    <logger name="com.aerofs.devman.server.VerkehrWebClient" level="DEBUG"/>

    <!--
        root configuration:

        IMPORTANT: always keep this as the last stanza
    -->

    <root level="WARN">
        <appender-ref ref="async"/>
    </root>

</configuration>
