Package: aerofs-sanity
Section: admin
Priority: required
Maintainer: AeroFS <team@aerofs.com>
Description: AeroFS sanity checker server package.
Architecture: all
Depends: python, python-pip, python-virtualenv
