Package: aerofs-dryad-servlet
Section: java
Priority: required
Maintainer: AeroFS <team@aerofs.com>
Description: AeroFS log collection servlet package.
Architecture: all
Depends: default-jdk (>= 1.6), tomcat6
