<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) Air Computing Inc., 2014.
  -->

<web-app>
  <!-- Database definitions -->
  <context-param>
    <param-name>sp_database_resource_reference</param-name>
    <param-value>jdbc/SPDatabase</param-value>
  </context-param>
  <resource-ref>
    <res-ref-name>jdbc/SPDatabase</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

  <!-- To enforce serializable sessions. -->
  <distributable/>

  <!-- Initialization listener -->
  <listener>
    <listener-class>com.aerofs.sp.server.listeners.DryadLifecycleListener</listener-class>
  </listener>

  <!-- Servlets -->
  <servlet>
    <servlet-name>ServletDryad</servlet-name>
    <servlet-class>com.aerofs.sp.server.dryad.DryadServlet</servlet-class>
  </servlet>

  <!-- URL mapping -->
  <servlet-mapping>
    <servlet-name>ServletDryad</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
</web-app>
