# When changing this file, update requirements-exact.txt as well:
# virtualenv env
# env/bin/pip install -r requirements.txt
# env/bin/pip freeze > requirements-exact.txt
analytics-python
Babel
Beaker
CherryPy
iptools
Mako
mock
MySQL-python
PasteDeploy
protobuf
pycrypto
pyramid
pyramid-beaker
pyramid-mako
requests
waitress
