CherryPy==3.2.4
Babel==0.9.6
Beaker==1.6.4
Chameleon==2.11
Mako==0.7.3
MarkupSafe==0.18
PasteDeploy==1.5.0
Pygments==1.6
WebOb==1.2.3
analytics-python==0.4.4
six==1.4.1
mock==1.0.1
protobuf==2.5.0
pycrypto==2.6
pyramid==1.4
pyramid-beaker==0.7
pyramid-debugtoolbar==1.0.4
python-dateutil==2.2
repoze.lru==0.6
requests==1.2.0
translationstring==1.1
venusian==1.0a7
waitress==0.8.2
zope.deprecation==4.0.2
zope.interface==4.0.3
