Babel==0.9.6
Beaker==1.6.4
Chameleon==2.11
Mako==0.7.3
PasteDeploy==1.5.0
Pygments==1.6
WebOb==1.2.3
jprops==1.0
mock==1.0.1
protobuf==2.5.0
pycrypto==2.6
pyramid==1.4
pyramid-beaker==0.7
pyramid-debugtoolbar==1.0.4
repoze.lru==0.6
requests==1.2.0
setuptools==0.6c11
stripe==1.9.1
translationstring==1.1
venusian==1.0a7
waitress==0.8.2
zope.deprecation==4.0.2
zope.interface==4.0.3
