Package: aerofs-log-collection
Section: java
Priority: required
Maintainer: AeroFS <team@aerofs.com>
Description: AeroFS log collection server package.
Architecture: all
Depends: default-jdk (>= 1.6), tomcat6
